<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title>FURNIX Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon-16x16.png">
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<style>
    .custom-button {
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 50px;
    }
    .custom-button3 {
        width: 180px;
        height: 40px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 50px;
    }

    .custom-butto1 {
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 14px;
        border-radius: 50px;
    }
</style>

<body>
    <div id="bottom-bar" style="z-index: 9999;" class="col-lg-6 col-md-10 col-sm-12 col-12">
        <div class="bottom-bar-element">
            <a href="/admin/adminHome">
                <i class="icon material-icons md-home"></i><br>
                <span>Home</span>
            </a>
        </div>
        <div class="bottom-bar-element">
            <a href="/admin/adminUserList">
                <i class="icon material-icons md-person"></i><br>
                <span>Users</span>
            </a>
        </div>
        <div class="bottom-bar-element" style="color: white;">
            <a href="/admin/category">
                <i class="icon material-icons md-shopping_bag"></i><br>
                <span>Category</span>
            </a>
        </div>
        <div class="bottom-bar-element">
            <a href="/admin/productPage">
                <i class="icon material-icons md-stars"></i><br>
                <span>Product</span>
            </a>
        </div>
        <div class="bottom-bar-element">
            <a href="/admin/order">
                <i class="icon material-icons md-shopping_cart"></i><br>
                <span>Orders</span>
            </a>
        </div>
        <div class="bottom-bar-element">
            <a href="/admin/coupon">
                <i class="icon material-icons md-local_offer"></i><br>
                <span>Coupons</span>
            </a>
        </div>
        <div class="bottom-bar-element">
            <a href="/admin/salesreport">
                <i class="icon material-icons md-monetization_on"></i><br>
                <span>Sales report</span>
            </a>
        </div>
    </div>
    <!-- <main class="main-wrap"> -->
        <header class="main-header navbar">
            <div class="col-search"> 
                <img src="/admin-assets/imgs/theme/logo.png" class="logo" alt="Furnix Dashboard" width="100" height="auto">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/profile.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div style="margin: auto;">
                    <h2 class="content-title card-title">Categories </h2>
                </div>
            </div>
            <div style="text-align: right; margin-bottom: 20px; margin-top: -30px;">
                <a href="/admin/categoryoffer"><button class="custom-button3">Go to category offer page</button></a>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Name</label>
                                <input type="text" id="prName" placeholder="Type here" class="form-control"
                                    id="product_name" />
                            </div>
                            <p class="text-danger text-center mb-15" id="alreadyexist" style="display: none;">Name
                                already existed
                            </p>
                            <p class="text-danger text-center mb-15" id="minName" style="display: none;">Name must need
                                more than 3 character
                            </p>
                            <p class="text-danger text-center mb-15" id="maxName" style="display: none;">Name can't
                                exceed 15 character
                            </p>
                            <p class="text-danger text-center mb-15" id="nameregex" style="display: none;">Name can't
                                contain characters other than alphabets and &
                            </p>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" id="prDescription" class="form-control"></textarea>
                            </div>
                            <p class="text-danger text-center mb-15" id="minDescription" style="display: none;">
                                Desciption must need more than 10 characters
                            </p>
                            <p class="text-danger text-center mb-15" id="maxDescription" style="display: none;">
                                Desciption can't exceed 100 character
                            </p>
                            <div class="text-danger text-center mb-15" id="formAlert" style="display: none;">
                                Please fill all the fields
                            </div>
                            <div class="d-grid">
                                <a href="/admin/adminHome"></a><button class="btn btn-dark"
                                    onclick="catValidate()">Create category</button>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead style="background-color: black;">
                                        <tr>
                                            <th class="text-center text-light">Name</th>
                                            <th class="text-center text-light">Description</th>
                                            <th class="text-center text-light">List / Unlist</th>
                                            <th class="text-center text-light">Edit</th>
                                            <th class="text-center text-light">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% catDetails.forEach(element=> { %>
                                            <tr class="text-center">
                                                <td>
                                                    <%= element.name %>
                                                </td>
                                                <td>
                                                    <%= element.description %>
                                                </td>
                                                <td>
                                                    <% if (element.isBlocked===false) { %>
                                                        <p style="color: rgb(0, 202, 145);">Listed</p>
                                                    <% } else { %>
                                                        <p style="color: red;">Un-Listed</p>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <a href="/admin/editcategory?_id=<%= element._id %>"><button type="submit" class="custom-butto1" id="editbtn">Edit</button></a>
                                                </td>
                                                <td>
                                                    <% if (element.isBlocked===false) { %>
                                                        <button type="submit" class="custom-button" id="Unblockbtn" onclick="unblock('<%= element._id %>')">Unlist</button></a>
                                                    <% } else { %>
                                                        <button type="submit" class="custom-button" id="blockbtn" onclick="block('<%= element._id %>')">List</button></a>
                                                    <% } %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- </main> -->
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<script>
    function catValidate() {
        const name = document.getElementById("prName").value;
        const description = document.getElementById("prDescription").value;
        if (name.trim() === "" || description.trim() === "") {
            document.getElementById("formAlert").style.display = "block"
            setTimeout(() => {
                document.getElementById("formAlert").style.display = "none"
            }, 2000);
        } else if (name.length <= 3) {
            document.getElementById("minName").style.display = "block"
            setTimeout(() => {
                document.getElementById("minName").style.display = "none"
            }, 2000);
        } else if (name.length >= 15) {
            document.getElementById("maxName").style.display = "block"
            setTimeout(() => {
                document.getElementById("maxName").style.display = "none"
            }, 2000);
        } else if (!/^[A-Za-z& ]+$/.test(name)) {
            document.getElementById("nameregex").style.display = "block"
            setTimeout(() => {
                document.getElementById("nameregex").style.display = "none"
            }, 2000);
        } else if (description.length <= 10) {
            document.getElementById("minDescription").style.display = "block"
            setTimeout(() => {
                document.getElementById("minDescription").style.display = "none"
            }, 2000);
        } else if (description.length >= 100) {
            document.getElementById("maxDescription").style.display = "block"
            setTimeout(() => {
                document.getElementById("maxDescription").style.display = "none"
            }, 2000);
        } else {
            $.ajax({
                url: "/admin/categoryAdd",
                method: "post",
                data: {
                    name,
                    description
                },
                success: (response) => {
                    if (response.status === true) {
                        Swal.fire({
                            icon: "success",
                            title: "Your work has been saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(() => {
                            window.location.href = "http://localhost:5000/admin/category";
                        }, 1500);   
                    } else {
                        document.getElementById("alreadyexist").style.display = "block";
                        setTimeout(() => {
                            document.getElementById("alreadyexist").style.display = "none";
                        }, 2000);
                    }
                }
            })
        }
    }

    function unblock(id) {
        const userMail = id;
        Swal.fire({
            title: "Are you sure?",
            text: "You want to unlist this category",
            showCancelButton: true,
            confirmButtonColor: "#000000",
            cancelButtonColor: "#d33",
            confirmButtonText: "Confirm"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/admin/UnblockCategory?_id=${id}`
            }
        });
    }

    function block(id) {
        const userMail = id;
        Swal.fire({
            title: "Are you sure?",
            text: "You want to list this category",
            showCancelButton: true,
            confirmButtonColor: "#000000",
            cancelButtonColor: "#d33",
            confirmButtonText: "Confirm"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/admin/blockCategory?_id=${id}`
            }
        });
    }
</script>

</html>