<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title>FURNIX Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon-16x16.png">

    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link btn-dark text-light"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminUserList"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productPage"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Product</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/order"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesreport"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sales report</span>
                    </a>
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div>
                </li>
                
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> -->
            </ul>
            <!-- <hr>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br> -->
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <!-- <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist> -->
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <!-- <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li> -->
                    <!-- <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/admin-assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li> -->
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/profile.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <!-- <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div style="margin: auto;" class="text-center">
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about Furnix</p>
                </div>
                <!-- <div>
                    <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                </div> -->
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle" style="background-color: rgb(212, 212, 212);"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="8.75" viewBox="0 0 320 512"><path fill="#000000" d="M0 64C0 46.3 14.3 32 32 32H96h16H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H231.8c9.6 14.4 16.7 30.6 20.7 48H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H252.4c-13.2 58.3-61.9 103.2-122.2 110.9L274.6 422c14.4 10.3 17.7 30.3 7.4 44.6s-30.3 17.7-44.6 7.4L13.4 314C2.1 306-2.7 291.5 1.5 278.2S18.1 256 32 256h80c32.8 0 61-19.7 73.3-48H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H185.3C173 115.7 144.8 96 112 96H96 32C14.3 96 0 81.7 0 64z"/></svg></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>₹<%= revenue %></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle" style="background-color: rgb(212, 212, 212);"><i class="text-dark material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%= order.length %></span>
                                <span class="text-sm">
                                    Delivered products only
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle" style="background-color: rgb(212, 212, 212);"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="17.5" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M64 160C64 89.3 121.3 32 192 32H448c70.7 0 128 57.3 128 128v33.6c-36.5 7.4-64 39.7-64 78.4v48H128V272c0-38.7-27.5-71-64-78.4V160zM544 272c0-20.9 13.4-38.7 32-45.3c5-1.8 10.4-2.7 16-2.7c26.5 0 48 21.5 48 48V448c0 17.7-14.3 32-32 32H576c-17.7 0-32-14.3-32-32H96c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V272c0-26.5 21.5-48 48-48c5.6 0 11 1 16 2.7c18.6 6.6 32 24.4 32 45.3v48 32h32H512h32V320 272z"/></svg></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%= product.length %></span>
                                <span class="text-sm">
                                    In <%= category.length %> Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle" style="background-color: rgb(212, 212, 212);"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="17.5" viewBox="0 0 640 512"><path fill="#000000" d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z"/></svg></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Users</h6> <span><%= user.length %></span>
                                <span class="text-sm">
                                    Total furnix users
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title" style="text-align: center;">Product and user statistics</h5>
                                <div class="d-flex" style="gap: 50px;">
                                    <li style="color: rgb(255, 103, 128);">User</li>
                                    <li style="color: black(23, 108, 65);">Order</li>
                                </div>
                            </div>
                            <canvas id="linechart" height="120px"></canvas>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title" style="text-align: center;">Product counts based on category sales</h5>
                            <canvas id="samplechart" style="width:100%; max-width:700px; height: 300px;"></canvas>
                        </article>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title" style="text-align: center;">Weekly Revenue Statistics</h5>
                            <canvas id="sample2chart" style="width:100%; max-width:700px; height: 300px;"></canvas>
                        </article>
                    </div>
                </div>
            </div>
            <div class="content-header" style="margin-top: 50px;">
                <div style="margin: auto;" class="text-center">
                    <h2 class="content-title card-title">Top 5 selling products</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                    <% if (top5products) { %>
                        <% for( let i = 0; i < top5products.length; i++ ) { %>
                            <div class="col">
                                <div class="card card-product-grid">
                                    <a href="/admin/productinfo?id=<%= top5products[i]._id %>" class="img-wrap"> <img src="/uploads/<%= top5products[i].images[0] %>" alt="Product"> </a>
                                    <div class="info-wrap">
                                        <a href="/admin/productinfo?id=<%= top5products[i]._id %>" class="title text-truncate"><%= top5products[i].name %></a>
                                        <div class="price mt-1 d-flex">
                                            ₹<%= top5products[i].regularPrice %>.00
                                             &nbsp;&nbsp;&nbsp;&nbsp; <span style="color: rgb(255, 0, 0); font-size: 13px; text-decoration: line-through;">₹<%= top5products[i].offerPrice %>.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <% if (productcatList) { %>
                <div class="content-header" style="margin-top: 50px;">
                    <div style="margin: auto;" class="text-center">
                        <h2 class="content-title card-title">Top 5 Category</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                        <div class="col">
                            <div class="card card-product-grid"  style="background-color: rgb(0, 0, 0)">
                                <div class="info-wrap">
                                    <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[0] %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-product-grid"  style="background-color: rgb(30, 30, 30)">
                                <div class="info-wrap">
                                    <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[1] %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-product-grid"  style="background-color: rgb(47, 47, 47)">
                                <div class="info-wrap">
                                    <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[2] %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-product-grid"  style="background-color: rgb(69, 69, 69)">
                                <div class="info-wrap">
                                    <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[3] %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-product-grid"  style="background-color: #646464">
                                <div class="info-wrap">
                                    <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[4] %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </section>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin-assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="/admin-assets/js/custom-chart.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

<script>

    // Sample data for the chart
    const x2Values = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" , "Saturday"];
    const revenewDayaArray = '<%= JSON.stringify(revenewDayaArray) %>';
    const revenewDayaArrayResult = JSON.parse(revenewDayaArray);

    // Create a pie chart
   
    new Chart("sample2chart", {
        type: "bar",
        data: {
            labels: x2Values,
            datasets: [{
                backgroundColor: "Black",
                data: revenewDayaArrayResult,
            }]
        },
        options: {
            legend: { display: false },
            elements: {
                line: {
                    tension: 0
                }
            },
        }
    });








 const xlinevalue = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
 const userDayData = '<%= JSON.stringify(UserdayArray) %>';
 const userDayDataResult = JSON.parse(userDayData);
 const orderdayArray = '<%= JSON.stringify(orderdayArray) %>';
 const orderdayArrayResult = JSON.parse(orderdayArray);

new Chart("linechart", {
    type: "line",
    data: {
        labels: xlinevalue,
        datasets: [{
            data: orderdayArrayResult,
            borderColor: "Black",
            fill: false,
        }, {
            data: userDayDataResult,
            borderColor: "Pink",
            fill: false,
        }]
    },
    options: {
        legend: { display: false },
        elements: {
            line: {
                tension: 0
            }
        },
    }
});
window.addEventListener("load" , ()=> {
    $.ajax({
        url: "/admin/CatChart",
        method: "get",
        success: (response) => {
            if (response.status === "true") {
                catNames = response.catNames;
                chartColores = response.chartColores;
                cartQtyArray = response.cartQtyArray;
                // Sample data for the chart
                const xValues = catNames;
                const yValues = cartQtyArray;
                const barColors = chartColores;

                // Create a pie chart
                new Chart("samplechart", {
                    type: 'doughnut',
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                        }
                    }
                });
            }
        }
    })
});
</script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>