<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-sellers-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title>FURNIX Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon-16x16.png">

    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<style>
    .custom-button1 {
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 50px;
    }

    .custom-button2 {
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 50px;
    }
    .pagination-area .pagination .page-item:hover a {
        background-color: black;
        color: white;
    }
</style>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets/imgs/theme/logo.png" class="logo" alt="Furnix Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminHome"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link  btn-dark text-light" href="/admin/adminUserList"> <i
                            class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productPage"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Product</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/order"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesreport"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sales report</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/profile.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title fw-bold" style="margin: auto;">Users</h2>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead style="background-color: black; color: white;">
                                <tr>
                                    <th class="text-center">User</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Number</th>
                                    <th class="text-center">Active</th>
                                    <th></th>
                                    <th style="width: 200px;" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% UserDatas.forEach(element=> { %>
                                    <tr class="text-center">
                                        <td>
                                            <%= element.name %>
                                        </td>
                                        <td>
                                            <%= element.email %>
                                        </td>
                                        <td>
                                            <%= element.phone %>
                                        </td>
                                        <td>
                                            <% if (element.isBlocked===true) { %>
                                                <p style="color: red;">Blocked</p>
                                            <% } else { %>
                                                <p style="color: rgb(36, 206, 121);">Unblocked</p>
                                            <% } %>
                                        </td>
                                        <td>
                                        <td>
                                            <% if (element.isBlocked===true) { %>
                                                <button onclick="unblock('<%= element.email %>')" type="submit"
                                                    class="custom-button2" id="Unblockbtn">Unblocked</button>
                                                <% } else { %>
                                                    <button type="submit" class="custom-button1" onclick="block('<%= element.email %>')"
                                                        id="Blockbtn">Block</button></a>
                                            <% } %>
                                        </td>
                                        <td>
                                        </td>
                                        </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <% if (noOfPages != 1) { %>
                <div class="pagination-area mt-15 mb-50">
                    <ul class="pagination justify-content-center">
                        <% if (page >1) { %>
                            <li class="page-item"><a class="page-link" style="width: 50px;" href="/admin/adminUserList?page=<%= page - 1 %>">Back</a></li>
                        <% } %>
                        <% for( let i = 1; i <= noOfPages; i++ ) { %>
                            <% if (page === i) { %>
                                <li class="page-item"><a class="page-link"  style="background-color: black; color: white;" href="/admin/adminUserList?page=<%= i %>"><%= i %></a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/admin/adminUserList?page=<%= i %>"><%= i %></a></li>
                            <% } %>
                        <% } %>
                        <% if (page !== noOfPages) { %>
                            <li class="page-item"><a class="page-link" style="width: 50px;" href="/admin/adminUserList?page=<%= page + 1 %>">Next</a></li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
        </section>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
<script>
    function unblock(email) {
        const userMail = email;
        Swal.fire({
            title: "Are you sure?",
            text: "You want to unblock this user",
            showCancelButton: true,
            confirmButtonColor: "#000000",
            cancelButtonColor: "#d33",
            confirmButtonText: "Confirm"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/admin/userUnblock?email=${userMail}`
            }
        });
    }

    function block(email) {
        const userMail = email;
        Swal.fire({
            title: "Are you sure?",
            text: "You want to block this user",
            showCancelButton: true,
            confirmButtonColor: "#000000",
            cancelButtonColor: "#d33",
            confirmButtonText: "Confirm"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/admin/userBlock?email=${userMail}`
            }
        });
    }
</script>
</html>