<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title>FURNIX Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon-16x16.png">

    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<style>
    .custom-button {
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 50px;
    }
    .custom-button2 {
        width: 30px;
        height: 29px;
        background-color: rgb(255, 255, 255);
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 50px;
    }
</style>

<body>
    
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/profile.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <button class="custom-button" onclick="window.history.back()">Back</button>
                </div>
                <div style="margin: auto;">
                    <h2 class="content-title card-title">Categories Offer</h2>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="background-color: black;">
                                        <th class="text-center text-light">Category name</th>
                                        <th class="text-center text-light">Offer starting date</th>
                                        <th class="text-center text-light">Expairy date</th>
                                        <th class="text-center text-light">Offer starting at</th>
                                        <th class="text-center text-light">Discount amount</th>
                                        <th class="text-end text-light">Edit</th>
                                        <th class="text-center text-light">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if (catDetails) { %>
                                    <% for( let i = 0; i < catDetails.length; i++ ) { %>
                                        <tr class="text-center">
                                            <td><%= catDetails[i].name %></td>
                                            
                                            <!-- starting date-->
                                            <% if (catDetails[i].OfferStartDate === false) { %>
                                                <td><%= catDetails[i].OfferStartDate %></td>
                                            <% } else { %>
                                                <td>------</td>
                                            <% } %>

                                            <!-- ending date-->
                                            <% if (catDetails[i].OfferEndDate === false) { %>
                                                <td><%= catDetails[i].OfferEndDate %></td>
                                            <% } else { %>
                                                <td>------</td>
                                            <% } %>
                                            
                                            <!-- MinBuyAmount-->
                                            <% if (catDetails[i].OfferStartingPrice) { %>
                                                <td>₹<%= catDetails[i].OfferStartingPrice %>.00</td>
                                            <% } else { %>
                                                <td>------</td>
                                            <% } %>

                                            <!-- OfferDiscount-->
                                            <% if (catDetails[i].OfferDiscount) { %>
                                                <td>₹<%= catDetails[i].OfferDiscount %>.00</td>
                                            <% } else { %>
                                                <td>------</td>
                                            <% } %>
                                            

                                            <td style="text-align: right;"><a href="/admin/editcategoryoffer?id=<%= catDetails[i]._id %>"><button class="custom-button2"><svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><path fill="#000000" d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg></button></a></td>

                                            <!-- OfferDiscount-->
                                            <% if (catDetails[i].OfferDiscount) { %>
                                                <td ><a><button class="custom-button2" onclick="deleteOffer('<%= catDetails[i]._id %>')"><svg xmlns="http://www.w3.org/2000/svg" height="12" width="10.5" viewBox="0 0 448 512"><path fill="#000000" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></button></a></td>
                                            <% } else { %>
                                                <td></td>
                                            <% } %>
                                        </tr>
                                    <% } %>
                                <% } else { %>
                                    <h6><b>No category found</b></h6>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                </div> 
        </section> 
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
<script>
    function deleteOffer(id){
        Swal.fire({
            title: "Are you sure?",
            text: `You want to delete this offer?`,
            showCancelButton: true,
            confirmButtonColor: "#000000",
            cancelButtonColor: "#d33",
            confirmButtonText: "Delete"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/admin/deletecategoryoffer",
                    method: "delete",
                    data: {
                        id,
                    },
                    success: (response) => {
                        if (response.status === "okay") {
                            Swal.fire({
                                icon: "success",
                                title: "Your work has been saved",
                                showConfirmButton: false,
                                timer: 1500
                            });
                            setTimeout(() => {
                                window.location.reload()
                            }, 1500);   
                        } else if(response.status === "oops"){
                            Swal.fire({
                                icon: "error",
                                title: "Something wrong",
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    }
                })
            }
        });
    }
</script>
</html>