<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-sellers-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title>FURNIX Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon-16x16.png">

    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<style>
    .custom-button1 {
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 50px;
    }

    .custom-button2 {
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 50px;
    }
    .custom-button {
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 50px;
    }
    
</style>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets/imgs/theme/logo.png" class="logo" alt="Furnix Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminHome"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminUserList"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productPage"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Product</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/order"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link btn-dark text-light"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesreport"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sales report</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/profile.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div style="margin: auto;">
                    <h2 class="content-title card-title">Coupons</h2>
                </div>
                <div>
                    <a href="/admin/addCoupon"><button class="custom-button">Create New</button></a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <% if (coupens.length === 0) { %>
                        <h5>No coupens founded</h5>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="background-color: black;">
                                        <th class="text-center text-light">Coupon code</th>
                                        <th class="text-center text-light">Coupon name</th>
                                        <th class="text-center text-light">Starting date</th>
                                        <th class="text-center text-light">Ending date</th>
                                        <th class="text-center text-light">Minimum amount</th>
                                        <th class="text-center text-light">Maximum amount</th>
                                        <th class="text-center text-light">Discount percentage</th>
                                        <th class="text-center text-light">Status</th>
                                        <th class="text-center text-light">Redeemed useres</th>
                                        <th class="text-center text-light">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for( let i = 0; i < coupens.length; i++ ) { %>
                                        <tr class="text-center">
                                            <td>
                                                <%= coupens[i].coupencode %>
                                            </td>
                                            <td>
                                                <%= coupens[i].name %>
                                            </td>
                                            <td>
                                                <%= coupens[i].startDate %>
                                            </td>
                                            <td>
                                                <%= coupens[i].endDate %>
                                            </td>
                                            <td>
                                                ₹<%= coupens[i].minBuyRate %>.00
                                            </td>
                                            <td>
                                                ₹<%= coupens[i].maxBuyRate %>.00
                                            </td>
                                            <td>
                                                <%= coupens[i].discountPercentage %>% off
                                            </td>
                                            <td>
                                                <% if (coupens[i].couponStatus === "Awaiting" ) { %>
                                                    <p style="color: rgb(218, 131, 0);">Awaiting</p>
                                                <% } %>
                                                <% if (coupens[i].couponStatus === "Active" ) { %>
                                                    <p style="color: rgb(0, 225, 143);">Active</p>
                                                <% } %>
                                                <% if (coupens[i].couponStatus === "Expired" ) { %>
                                                    <p style="color: rgb(188, 0, 0);">Expired</p>
                                                <% } %>
                                            </td>
                                            <td>
                                                <%= coupens[i].redeemedUsers.length %>
                                            </td>
                                            <td>
                                                <% if (coupens[i].isBlocked===true) { %>
                                                    <button onclick="unblock('<%= coupens[i]._id %>')" type="submit" class="custom-button2" id="Unblockbtn">Unblock</button>
                                                <% } else { %>
                                                    <button type="submit" class="custom-button1" onclick="block('<%= coupens[i]._id %>')" id="Blockbtn">Block</button></a>
                                                <% } %>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

<script>
    function unblock(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You want to unblock this coupon",
            showCancelButton: true,
            confirmButtonColor: "#000000",
            cancelButtonColor: "#d33",
            confirmButtonText: "Confirm"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/admin/couponUnblock",
                    method: "post",
                    data: {
                        id
                    },
                    success: (response) => {
                        if (response.status === "okay") {
                            Swal.fire({
                                icon: "success",
                                title: "Coupon Unblocked",
                                showConfirmButton: false,
                                customClass: {
                                    popup: 'swal-custom',
                                },
                                timer: 1500
                            });
                            setTimeout(() => {
                                window.location.reload()
                            }, 1000);
                        } else if (response.status === "oops") {
                            Swal.fire({
                                icon: "error",
                                title: "Somthing wrong",
                                showConfirmButton: false,
                                customClass: {
                                    popup: 'swal-custom',
                                },
                                timer: 1500
                            });
                        }
                    }
			    })
            }
        });
    }

    function block(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You want to block this user",
            showCancelButton: true,
            confirmButtonColor: "#000000",
            cancelButtonColor: "#d33",
            confirmButtonText: "Confirm"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/admin/couponBlock",
                    method: "post",
                    data: {
                        id
                    },
                    success: (response) => {
                        if (response.status === "okay") {
                            Swal.fire({
                                icon: "success",
                                title: "Coupon blocked",
                                showConfirmButton: false,
                                customClass: {
                                    popup: 'swal-custom',
                                },
                                timer: 1500
                            });
                            setTimeout(() => {
                                window.location.reload()
                            }, 1000);
                        } else if (response.status === "oops") {
                            Swal.fire({
                                icon: "error",
                                title: "Somthing wrong",
                                showConfirmButton: false,
                                customClass: {
                                    popup: 'swal-custom',
                                },
                                timer: 1500
                            });
                        }
                    }
			    })
            }
        });
    }
</script>
</html>