<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <title>FURNIX Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon-16x16.png">

    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>
<style>
    button {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        font: inherit;
        color: inherit;
        cursor: pointer;
        outline: none;
    }

    .orderbtn,
    .returnbtn {
        display: inline-block;
        width: 200px; 
        height: 50px;
        border-radius: 30px;
        font-size: 16px;
        text-align: center;
        line-height: 50px; 
        text-decoration: none;
        margin-right: 10px;
    }

    .orderbtn {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: 1px solid black;
    }

    .returnbtn {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .orderbtn:hover,
    .returnbtn:hover {
        opacity: 0.8; 
    }

    .pagination-area .pagination .page-item:hover a {
        background-color: black;
        color: white;
    }

    .button-container {
        text-align: center;
    }
</style>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets/imgs/theme/logo.png" class="logo" alt="Furnix Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminHome"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminUserList"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productPage"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Product</span> </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link btn-dark text-light"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesreport"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sales report</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/profile.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title fw-bold" style="margin: auto;">Orders</h2>
            </div>
            
            <div class="button-container" style="margin-bottom: 30px;">
                <a href="/admin/order"><button class="orderbtn" id="orderbtn">Order details</button></a>
                <a href="/admin/return"><button class="returnbtn" id="returnbtn">Return details</button></a>
            </div>
            <div class="card mb-4" id="returndetails">
                <div class="card-body">
                    <% if (orderData.length === 0) { %>
                        <h5>No order founded</h5>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-center " style="background-color: rgb(0, 0, 0); color: white;">
                                    <tr>
                                        <th>OrderID</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col"> Action </th>
                                    </tr>
                                </thead>
                                
                                <tbody class="text-center">
                                    <% for( let i=0; i < orderData.length; i++ ) { %>
                                            <tr>
                                                <td>
                                                    <%= orderData[i].orderID %>
                                                </td>
                                                <td>
                                                    <%= orderData[i].userEmail %>
                                                </td>
                                                <td>₹<%= orderData[i].total %>.00</td>
                                                <td>
                                                    <% if(orderData[i].status==="Return order cancel") { %>
                                                        <span class="orderStatus">Return cancelled</span>
                                                    <% } else if (orderData[i].status==="Return order processing") { %>
                                                        <span class="orderStatus">Return processing</span>
                                                    <% } else if (orderData[i].status==="Returned order recieved") { %>
                                                        <span class="orderStatus">Return recieved</span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <%= orderData[i].date %>
                                                </td>
                                                <td>
                                                    <%= orderData[i].time %>
                                                </td>
                                                <td>
                                                    <a href="/admin/orderInfo?id=<%= orderData[i]._id %>"><button style="background-color: rgb(255, 255, 255); border: none;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="12" width="10.5" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
                                                    </button></a>
                                                </td>
                                            </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>   
                    <% } %>
                </div>
            </div>
            <% if (noOfPages != 1) { %>
                <div class="pagination-area mt-15 mb-50">
                    <ul class="pagination justify-content-center">
                        <% if (page >1) { %>
                            <li class="page-item"><a class="page-link" style="width: 50px;" href="/admin/order?page=<%= page - 1 %>">Back</a></li>
                        <% } %>
                        <% for( let i = 1; i <= noOfPages; i++ ) { %>
                            <% if (page === i) { %>
                                <li class="page-item"><a class="page-link"  style="background-color: black; color: white;" href="/admin/order?page=<%= i %>"><%= i %></a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/admin/order?page=<%= i %>"><%= i %></a></li>
                            <% } %>
                        <% } %>
                        <% if (page !== noOfPages) { %>
                            <li class="page-item"><a class="page-link" style="width: 50px;" href="/admin/order?page=<%= page + 1 %>">Next</a></li>
                        <% } %>
                    </ul>
                </div>
            <% } %>
        </section> 
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>