<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from caketheme.com/html/ruper/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:33 GMT -->

<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">

	<!-- Dependency Styles -->
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
	<link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
	<link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
	<link rel="stylesheet" href="libs/slider/css/jslider.css">
	<link rel="stylesheet" href="libs/select2/css/select2.min.css">

	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="assets/css/app.css" type="text/css">
	<link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

	<!-- Google Web Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
		rel="stylesheet">
</head>

<style>
	.editDeletebtn {
		background-color: white;
		text-align: center;
		border: 1px solid black;
		border-radius: 50px;
		width: 70px;
		font-size: small;
	}

	.swal-custom {
		background: linear-gradient(94deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8240546218487395) 26%, rgba(0, 0, 0, 1) 53%, rgba(0, 0, 0, 0.8492647058823529) 79%, rgba(227, 227, 227, 0) 100%);
		color: #ffffff;
		width: 100%;
	}

	.swal-custom-ok-btn {
		color: black !important;
	}
</style>

<body class="shop">
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v2">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container large">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="/">
										<img width="400" height="79" src="media/logo.png"
											alt="Ruper – Furniture HTML Theme" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="/"><i class="wpb-icon-shop"></i></a>
					</div>

					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="/userProfile"><i class="wpb-icon-user"></i></a>
						</div>
					</div>

					<!-- Search -->
					<div class="search-box">
						<div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
					</div>

					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="shop-wishlist.html"><i class="wpb-icon-heart"></i></a>
					</div>
				</div>
			</div>

			<div class="header-desktop"
				style="background: linear-gradient(94deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 53%, rgba(227,227,227,1) 100%);">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container large p-l-r">
							<div class="row">
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span class="menu-item-text">about us
														</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span
															class="menu-item-text">Contact</span></a>
												</li>

											</ul>
										</nav>
									</div>
								</div>

								<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>

								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">

										<!-- Search -->
										<div class="search-box">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>

										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
										</div>

										<!-- Cart -->
										<div class="mini-cart top-cart wishlist-box">
											<a class="cart-icon" href="/cart">
												<div class="icons-cart"><i class="icon-large-paper-bag"></i>
											</a>
										</div>

									</div>

									<!-- profile -->
									<div class="wishlist-box">
										<a href="/userprofilepage"><i class="wpb-icon-user"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">
					<div id="content" class="site-content" role="main" style="margin-top: 100px;">
						<div class="section-padding">
							<div class="section-container p-l-r">
								<div class="shop-checkout">
									<div class="row">
										<div class="col-xl-6 col-lg-6 col-md-12 col-12">
											<div class="checkout-review-order">
												<div class="checkout-review-order-table">
													<div class="review-order-title">Product</div>
													<div class="cart-items">
														<% for( let i=0; i < userData.cart.length; i++ ) { %>
															<div class="cart-item">
																<div class="info-product">
																	<div class="product-thumbnail">
																		<img width="600" height="600"
																			src="/uploads/<%= ProductResultarray[i].images[0] %>"
																			alt="image is not available">
																	</div>
																	<div class="product-name">
																		<%= ProductResultarray[i].name %>
																			<strong class="product-quantity">QTY : <%=
																					userData.cart[i].qty %></strong>
																	</div>
																</div>
																<div class="product-total">
																	<span>₹<%= ProductResultarray[i].regularPrice %>
																			.00</span>
																</div>
															</div>
															<% } %>
													</div>
													<div class="cart-subtotal">
														<h2>Subtotal</h2>
														<div class="subtotal-price">
															<span>₹<%= userData.total %>.00</span>
														</div>
													</div>
													<div class="shipping-totals shipping">
														<h2>Shipping</h2>
														<div data-title="Shipping">
															<ul class="shipping-methods custom-radio">
																<li>
																	<input type="radio" name="shipping_method"
																		data-index="0" value="free_shipping"
																		class="shipping_method"
																		checked="checked"><label>Free shipping</label>
																</li>
															</ul>
														</div>
													</div>
													<div class="order-total">
														<h2>Total</h2>
														<div class="total-price">
															<strong>
																<span><b>₹<%= userData.total %>.00</b></span>
															</strong>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-lg-6 col-md-12 col-12">
											<div class="checkout-review-order">
												<div id="elseID">
													<% if (userData.address.length===0) { %>
														<div
															style="width: 100%; height: 150px; background-color:rgb(255, 255, 255); display: flex; flex-direction: column; justify-content: center; align-items: center; border: 1px solid black;">
															<p style="color: black; margin-bottom: 10px;">Address not
																found! Please insert</p>
															<a href="/address"
																style="text-decoration: none; display: flex; justify-content: center; align-items: center; width: 40%;">
																<button class="addaddress"
																	style="width: 100%; color: white; background-color: black; height: 40px;">Go
																	to address page</button>
															</a>
														</div>

														<% } else { %>
															<div
																style="display: flex; justify-content: center; align-items: center; width: 100%; height: 40px; background-color: rgb(0, 0, 0); margin-bottom: 20px; padding-top: 15px;">
																<p style="color: rgb(255, 255, 255); font-size: 15px;">
																	Select your
																	address</p>
															</div>

															<% for( let i=0; i < userData.address.length; i++ ) { %>
																<div
																	style="background-color: rgb(228, 228, 228); width: 100%; height: 40px; border: 1px solid rgb(228, 228, 228); color: black; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
																	<input type="radio" id="addressCheckbox<%= i %>"
																		name="addressCheckbox"
																		value="<%= userData.address[i]._id %>">
																	<h5 class="text-align-center">
																		<%= userData.address[i].addressType %>
																	</h5>
																	<div>
																		<a
																			href="/addressedit?id=<%= userData.address[i]._id %>"><button
																				class="editDeletebtn">Edit</button></a>
																	</div>
																</div>
																<div
																	style="background-color: rgb(255, 255, 255); width: 100%; height: auto; padding: 10px; border: 1px solid rgb(228, 228, 228); color: black;">
																	<p>
																		<%= userData.address[i].name %><br>
																			<%= userData.address[i].number %><br>
																				<%= userData.address[i].address %>,
																					<%=userData.address[i].landmark %>,
																						<%=
																							userData.address[i].district%>
																							,
																							<%=userData.address[i].state%>
																								,
																								<%=userData.address[i].pin%>
																									<br>
																									<%= userData.address[i].alternateNumber
																										%><br>
																	</p>
																</div>
																<br>
																<% } %>
																	<% } %>
												</div>
											</div>
										</div>
									</div>
									<hr style="margin-top: 50px; margin-bottom: 50px;">
									<div class="checkout-review-order">
										<div id="payment" class="checkout-payment">
											<ul class="payment-methods methods custom-radio">
												<h5><b>Select your payment method</b></h5>
												<br>
												<li class="payment-method">
													<input type="radio" class="input-radio" name="payment_method"
														value="Cash on delivery">
													<label>Cash on delivery</label>
													<div class="payment-box">
														<p>Pay with cash upon delivery.</p>
													</div>
												</li>
												<li class="payment-method">
													<input type="radio" class="input-radio" name="payment_method"
														value="Razorpay">
													<label>Razorpay</label>
													<div class="payment-box">
														<p>Make your payment directly into Razerpay.
															Please use your Order ID as the payment reference.
															Your order will not be shipped until the funds have
															cleared in our account.</p>
													</div>
												</li>
											</ul>
											<div class="form-row place-order">
												<div class="terms-and-conditions-wrapper">
													<div class="privacy-policy-text"></div>
												</div>
												<div style="margin: auto; display: none;" id="selectAddressID">
													<b>
														<p class="text-danger">Please select an address for placing your
															order</p>
													</b>
												</div>
												<div style="margin: auto; display: none;" id="productlength">
													<b>
														<p class="text-danger">Produts not founded</p>
													</b>
												</div>
												<div style="margin: auto; display: none;" id="selectpayment">
													<b>
														<p class="text-danger">Please select a payment method</p>
													</b>
												</div>
												<button type="submit" class="button alt" name="checkout_place_order"
													value="Place order" style="margin-top: 15px;"
													onclick="placeOrder('<%= userData.address.length%>' , '<%= userData.cart.length %>')">Place
													order</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>

		<footer id="site-footer" class="site-footer background">
			<div class="footer">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu m-b-20">
										<h2 class="block-title">Contact Us</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-contact.html">616.774.0561</a>
												</li>
												<li>
													<a href="page-contact.html">866.453.4748</a>
												</li>
												<li>
													<a href="page-contact.html">HR Fax: 810.222.5439</a>
												</li>
												<li>
													<a href="page-contact.html">sales@ruperfurniture.com</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="block block-social">
										<ul class="social-link">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Showroom</h2>
										<div class="block-content">
											<p>1000 84th Street SW , Byron Center, MI 49315</p>
											<p>AmericasMart Bldg. #1</p>
											<p>Suite 5C-1, Atlanta, GA 30303</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Services</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-about.html">Sale</a>
												</li>
												<li>
													<a href="page-about.html">Quick Ship</a>
												</li>
												<li>
													<a href="page-about.html">New Designs</a>
												</li>
												<li>
													<a href="page-about.html">Accidental Fabric Protection</a>
												</li>
												<li>
													<a href="page-about.html">Furniture Care</a>
												</li>
												<li>
													<a href="page-about.html">Gift Cards</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-newsletter">
										<h2 class="block-title">Newsletter</h2>
										<div class="block-content">
											<div class="newsletter-text">Enter your email below to be the first to know
												about new collections and product launches.</div>
											<form action="#" method="post" class="newsletter-form">
												<input type="email" class="bg-white" name="your-email" value=""
													size="40" placeholder="Email address">
												<span class="btn-submit">
													<input type="submit" value="Subscribe">
												</span>
											</form>
										</div>
									</div>
									<div class="block block-image">
										<img width="309" height="32" src="media/payments.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Back Top button -->
	<div class="back-top button-show">
		<i class="arrow_carrot-up"></i>
	</div>

	<!-- Search -->
	<div class="search-overlay">
		<div class="close-search"></div>
		<div class="wrapper-search">
			<form role="search" method="get" class="search-from ajax-search" action="#">
				<div class="search-box">
					<button id="searchsubmit" class="btn" type="submit">
						<i class="icon-search"></i>
					</button>
					<input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
						placeholder="Search...">
					<div class="search-top">
						<div class="close-search">Cancel</div>
					</div>
					<div class="content-menu_search">
						<label>Suggested</label>
						<ul id="menu_search" class="menu">
							<li><a href="#">Furniture</a></li>
							<li><a href="#">Home Décor</a></li>
							<li><a href="#">Industrial</a></li>
							<li><a href="#">Kitchen</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Page Loader -->
	<div class="page-preloader">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div>

	<!-- Dependency Scripts -->
	<script src="libs/popper/js/popper.min.js"></script>
	<script src="libs/jquery/js/jquery.min.js"></script>
	<script src="libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="libs/slick/js/slick.min.js"></script>
	<script src="libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
	<script src="libs/slider/js/tmpl.js"></script>
	<script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
	<script src="libs/slider/js/draggable-0.1.js"></script>
	<script src="libs/slider/js/jquery.slider.js"></script>
	<script src="libs/elevatezoom/js/jquery.elevatezoom.js"></script>
	<script src="libs/select2/js/select2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- Site Scripts -->
	<script src="assets/js/app.js"></script>
</body>

<script>

	function placeOrder(data, products) {
		if (products == 0) {
			document.getElementById("productlength").style.display = "block";
			setTimeout(() => {
				document.getElementById("productlength").style.display = "none";
			}, 3000);
		} else {
			if (data == 0) {
				document.getElementById("selectAddressID").style.display = "block";
				setTimeout(() => {
					document.getElementById("selectAddressID").style.display = "none";
				}, 3000);
			} else {
				let addressChecked = false;
				const addressradio = document.getElementsByName("addressCheckbox")
				for (let i = 0; i < addressradio.length; i++) {
					if (addressradio[i].checked) {
						addressChecked = addressradio[i].value;
						break;
					} else {
						addressChecked = false;
					}
				}
				if (addressChecked) {
					let paymentchecked = false
					const paymentradio = document.getElementsByName("payment_method");
					for (let j = 0; j < paymentradio.length; j++) {
						if (paymentradio[j].checked) {
							paymentchecked = paymentradio[j].value;
							break;
						} else {
							paymentchecked = false;
						}
					}
					if (paymentchecked) {
						$.ajax({
							url: "/checkout",
							method: "post",
							data: {
								addressChecked,
								paymentchecked
							},
							success: (response) => {
								if (response.status === "true") {
									window.location.href = "/orderSuccessfull"
								} else if (response.status === "stocklimit") {
									Swal.fire({
										icon: "error",
										iconColor: "red",
										text: "This amount of stock is currently not available ! . . . Go to your cart and check again.",
										customClass: {
											popup: 'swal-custom',
										},
										confirmButtonColor: "#03c04a"
									});
								} else if (response.status === "blocked") {
									Swal.fire({
										title: "Oops ! . . .",
										text: "Product has been temporaily discontinued",
										showCancelButton: true,
										confirmButtonColor: "#39e75f",
										cancelButtonColor: "#ffffff",
										confirmButtonText: "Okay",
										customClass: {
											popup: 'swal-custom',
											cancelButton: 'swal-custom-ok-btn'
										}
									}).then((result) => {
										if (result.isConfirmed) {
											window.location.reload()
										}
									});
								} else if (response.status === "network") {
									Swal.fire({
										icon: "error",
										title: "Oops!.. Network is busy please refresh",
										showConfirmButton: false,
										customClass: {
											popup: 'swal-custom',
										},
										timer: 1500
									});
								}
							}
						})
					} else {
						document.getElementById("selectpayment").style.display = "block";
						setTimeout(() => {
							document.getElementById("selectpayment").style.display = "none";
						}, 2000);
					}
				} else {
					document.getElementById("selectAddressID").style.display = "block";
					setTimeout(() => {
						document.getElementById("selectAddressID").style.display = "none";
					}, 2000);
				}
			}
		}

	}

</script>

</html>