<!DOCTYPE html>
<html lang="en">
	
<!-- Mirrored from caketheme.com/html/ruper/shop-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:32 GMT -->
<head>
		<!-- Meta Data -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Product Details | Furnix</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="media/favicon.png">
		
		<!-- Dependency Styles -->
		<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
		<link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
		<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
		<link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
		<link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
		<link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
		<link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
		<link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
		<link rel="stylesheet" href="libs/slider/css/jslider.css">

		<!-- Site Stylesheet -->
		<link rel="stylesheet" href="assets/css/app.css" type="text/css">
		<link rel="stylesheet" href="assets/css/responsive.css" type="text/css">
		
		<!-- Google Web Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap" rel="stylesheet">
	</head>
	
	<body class="shop">
		<div id="page" class="hfeed page-wrapper">
			<header id="site-header" class="site-header header-v2">


				<div class="header-mobile">
					<div class="section-padding">
						<div class="section-container large">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
									<div class="navbar-header">
										<button type="button" id="show-megamenu" class="navbar-toggle"></button>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-right">
									<div class="ruper-topcart dropdown">
										<div class="dropdown mini-cart top-cart">
											<!-- <div class="remove-cart-shadow"></div>
												<a class="dropdown-toggle cart-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<div class="icons-cart"><i class="icon-large-paper-bag"></i><span class="cart-count">2</span></div>
												</a>
												<div class="dropdown-menu cart-popup">
													<div class="cart-empty-wrap">
														<ul class="cart-list">
															<li class="empty">
																<span>No products in the cart.</span>
																<a class="go-shop" href="shop-grid-left.html">GO TO SHOP<i aria-hidden="true" class="arrow_right"></i></a>
															</li>
														</ul>
													</div>
													<div class="cart-list-wrap">
														<ul class="cart-list ">
															<li class="mini-cart-item">
																<a href="#" class="remove" title="Remove this item"><i class="icon_close"></i></a>
																<a href="shop-details.html" class="product-image"><img width="600" height="600" src="media/product/3.jpg" alt=""></a>
																<a href="shop-details.html" class="product-name">Chair Oak Matt Lacquered</a>		
																<div class="quantity">Qty: 1</div>
																<div class="price">$150.00</div>
															</li>
															<li class="mini-cart-item">
																<a href="#" class="remove" title="Remove this item"><i class="icon_close"></i></a>													
																<a href="shop-details.html" class="product-image"><img width="600" height="600" src="media/product/1.jpg" alt=""></a>
																<a href="shop-details.html" class="product-name">Zunkel Schwarz</a>
																<div class="quantity">Qty: 1</div>
																<div class="price">$100.00</div>						
															</li>
														</ul>
														<div class="total-cart">
															<div class="title-total">Total: </div>
															<div class="total-price"><span>$100.00</span></div>
														</div>
														<div class="free-ship">
															<div class="title-ship">Buy <strong>$400</strong> more to enjoy <strong>FREE Shipping</strong></div>
															<div class="total-percent"><div class="percent" style="width:20%"></div></div>
														</div>
														<div class="buttons">
															<a href="shop-cart.html" class="button btn view-cart btn-primary">View cart</a>
															<a href="shop-checkout.html" class="button btn checkout btn-default">Check out</a>
														</div>
													</div>
												</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	
					<div class="header-mobile-fixed">
						<!-- Shop -->
						<div class="shop-page">
							<a href="shop-grid-left.html"><i class="wpb-icon-shop"></i></a>
						</div>
	
						<!-- Login -->
						<div class="my-account">
							<div class="login-header">
								<a href="page-my-account.html"><i class="wpb-icon-user"></i></a>
							</div>
						</div>
	
						<!-- Search -->
						<div class="search-box">
							<div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
						</div>
	
						<!-- Wishlist -->
						<div class="wishlist-box">
							<a href="shop-wishlist.html"><i class="wpb-icon-heart"></i></a>
						</div>
					</div>
				</div>
	
				<div class="header-desktop">
					<div class="header-wrapper">
						<div class="section-padding">
							<div class="section-container large p-l-r">
								<div class="row">
									<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
										<div class="site-navigation">
											<nav id="main-navigation">
												<ul id="menu-main-menu" class="menu">
													<li class="level-0 menu-item">
														<a href="/"><span class="menu-item-text">home</span></a>
													</li>
													<li class="level-0 menu-item">
														<a href="page-contact.html"><span
																class="menu-item-text">All</span></a>
													</li>
													<li class="level-0 menu-item">
														<a href="page-contact.html"><span class="menu-item-text">about us
															</span></a>
													</li>
													<li class="level-0 menu-item">
														<a href="page-contact.html"><span
																class="menu-item-text">Contact</span></a>
													</li>
	
												</ul>
											</nav>
										</div>
									</div>
	
									<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
										<div class="site-logo">
											<a href="index2.html">
												<img width="400" height="79" src="media/logo.png"
													alt="Ruper – Furniture HTML Theme" />
											</a>
										</div>
									</div>
	
									<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
										<div class="header-page-link">
											<!-- profile -->
											<div class="wishlist-box">
												<a href="/userLogin"><i class="wpb-icon-user"></i></a>
											</div>
	
											<!-- Search -->
											<div class="search-box">
												<div class="search-toggle"><i class="icon-search"></i></div>
											</div>
	
											<!-- Wishlist -->
											<div class="wishlist-box">
												<a href="shop-wishlist.html"><i class="icon-heart"></i></a>
											</div>
	
											<!-- Cart -->
											<div class="wishlist-box">
												<a href="shop-wishlist.html"><i class="icon-large-paper-bag"></i></a>
											</div>
	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div id="site-main" class="site-main">
				<div id="main-content" class="main-content">
					<div id="primary" class="content-area">
						

						<div id="content" class="site-content" role="main">
							<div class="shop-details zoom" data-product_layout_thumb="scroll" data-zoom_scroll="true" data-zoom_contain_lens="true" data-zoomtype="inner" data-lenssize="200" data-lensshape="square" data-lensborder="" data-bordersize="2" data-bordercolour="#f9b61e" data-popup="false">	
								<div class="product-top-info">
									<div class="section-padding">
										<div class="section-container p-l-r">
											<div class="row">
												<div class="product-images col-lg-7 col-md-12 col-12">
													<div class="row">
														<div class="col-md-2">
															<div class="content-thumbnail-scroll">
																<div class="image-thumbnail slick-carousel slick-vertical" data-asnavfor=".image-additional" data-centermode="true" data-focusonselect="true" data-columns4="5" data-columns3="4" data-columns2="4" data-columns1="4" data-columns="4" data-nav="true" data-vertical="&quot;true&quot;" data-verticalswiping="&quot;true&quot;">


																	<% for (let i = 0; i < productDetails.images.length; i++) { %>
																		<div class="img-item slick-slide">
																			<span class="img-thumbnail-scroll">
																				<img width="600" height="600" src="/uploads/<%= productDetails.images[i] %>" alt="">
																			</span>
																		</div>
																	<% } %>
																</div>
															</div>
														</div>
														<div class="col-md-10">
															<div class="scroll-image main-image">
																<div class="image-additional slick-carousel" data-asnavfor=".image-thumbnail" data-fade="true" data-columns4="1" data-columns3="1" data-columns2="1" data-columns1="1" data-columns="1" data-nav="true">
																	<% for (let i = 0; i < productDetails.images.length; i++) { %>
																		<div class="img-item slick-slide">
																			<img width="900" height="900" src="/uploads/<%= productDetails.images[i] %>" alt="" title="">
																		</div>
																	<% } %>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="product-info col-lg-5 col-md-12 col-12 ">
													<h1 class="title"><%= productDetails.name %></h1>
													<span class="price">
														<del aria-hidden="true"><span>₹<%= productDetails.regularPrice %></span></del> 
														<ins><span>₹<%= productDetails.regularPrice %></span></ins>
													</span>
													<div class="rating">
														<div class="star star-5"></div>
														<div class="review-count">
															(3<span> reviews</span>)
														</div>
													</div>
													<div class="description">
														<p><%= productDetails.description %></p>
													</div>
													<div class="variations">
														<table cellspacing="0">
															<!-- <tbody> -->
																<div class="product-meta">
																	<span class="posted-in">Category: <b style="color: black;"> <%= productDetails.category%></b></span>
																	<hr>
																	<span class="posted-in">Color: <b style="color: black;"> <%= productDetails.color%></b></span>
																	<hr>
																	<span class="posted-in">Seating capacity: <b style="color: black;"> <%= productDetails.capacity%></b></span>
																	<hr>
																	<div class="buttons ">
																		<div class="btn-wishlist " data-title="Wishlist">
																			<button class="product-btn">Add to wishlist</button>
																		</div>
																	</div>
																</div>
																<!-- <tr>
																	<td class="label">Size</td>
																	<td class="attributes">
																		<ul class="text">
																			<li><span>L</span></li>
																			<li><span>M</span></li>
																			<li><span>S</span></li>
																		</ul>
																	</td>
																</tr>
																<tr>
																	<td class="label">Color</td>
																	<td class="attributes"><p><%= productDetails.color %></p></td>
																</tr> -->
																
		        											<!-- </tbody> -->
														</table>
														
													</div>
													<div class="buttons">
														<div class="add-to-cart-wrap">
															<div class="quantity">
																<button type="button" class="plus">+</button>
																<input type="number" class="qty" step="1" min="0" max="" name="quantity" value="1" title="Qty" size="4" placeholder="" inputmode="numeric" autocomplete="off">
																<button type="button" class="minus">-</button>	
															</div>
															<div class="btn-add-to-cart">
																<a href="#" class="button" tabindex="0">Add to cart</a>
															</div>
														</div>
														<div class="btn-quick-buy" data-title="Wishlist">
															<button class="product-btn">Buy It Now</button>
														</div>
														<!-- <div class="btn-wishlist" data-title="Wishlist">
															<button class="product-btn">Add to wishlist</button>
														</div>
														<div class="btn-compare" data-title="Compare">
															<button class="product-btn">Compare</button>
														</div> -->
													</div>
													
													<!-- <div class="social-share">
														<a href="#" title="Facebook" class="share-facebook" target="_blank"><i class="fa fa-facebook"></i>Facebook</a>
														<a href="#" title="Twitter" class="share-twitter"><i class="fa fa-twitter"></i>Twitter</a>
														<a href="#" title="Pinterest" class="share-pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
													</div>					 -->
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="product-tabs">
									<div class="section-padding">
										<div class="section-container p-l-r">
											<div class="product-tabs-wrap">
												<ul class="nav nav-tabs" role="tablist">
													<li class="nav-item">
														<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
													</li>
													<!-- <li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#additional-information" role="tab">Additional information</a>
													</li> -->
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (1)</a>
													</li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane fade show active" id="description" role="tabpanel">
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
														<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
													</div>
													<!-- <div class="tab-pane fade" id="additional-information" role="tabpanel">
														<table class="product-attributes">
															<tbody>
																<tr class="attribute-item">
																	<th class="attribute-label">Color</th>
																	<td class="attribute-value">Black, Blue, Green</td>
																</tr>
															</tbody>
														</table>
													</div> -->
													<div class="tab-pane fade" id="reviews" role="tabpanel">
														<div id="reviews" class="product-reviews">
															<div id="comments">
																<h2 class="reviews-title">1 review for <span>Bora Armchair</span></h2>
																<ol class="comment-list">
																	<li class="review">
																		<div class="content-comment-container">
																			<div class="comment-container">
																				<img src="media/user.jpg" class="avatar" height="60" width="60" alt="">
																				<div class="comment-text">
																					<div class="rating small">
																						<div class="star star-5"></div>
																					</div>
																					<div class="review-author">Peter Capidal</div>
																					<div class="review-time">January 12, 2022</div>
																				</div>
																			</div>
																			<div class="description">
																				<p>good</p>
																			</div>	
																		</div>
																	</li>
																</ol>
															</div>
															<div id="review-form">
																<div id="respond" class="comment-respond">
																	<span id="reply-title" class="comment-reply-title">Add a review</span>
																	<form action="#" method="post" id="comment-form" class="comment-form">
																		<p class="comment-notes">
																			<span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span>
																		</p>
																		<div class="comment-form-rating">
																			<label for="rating">Your rating</label>
																			<p class="stars">
																				<span>
																					<a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a>						
																				</span>					
																			</p>
																		</div>
																		<p class="comment-form-comment">
																			<textarea id="comment" name="comment" placeholder="Your Reviews *" cols="45" rows="8" aria-required="true" required=""></textarea>
																		</p>
																		<div class="content-info-reviews">
																			<p class="comment-form-author">
																				<input id="author" name="author" placeholder="Name *" type="text" value="" size="30" aria-required="true" required="">
																			</p>
																			<p class="comment-form-email">
																				<input id="email" name="email" placeholder="Email *" type="email" value="" size="30" aria-required="true" required="">
																			</p>
																			<p class="form-submit">
																				<input name="submit" type="submit" id="submit" class="submit" value="Submit"> 
																			</p>	
																		</div>
																	</form><!-- #respond -->
																</div>
															</div>
															<div class="clear"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div><!-- #content -->
					</div><!-- #primary -->
				</div><!-- #main-content -->
			</div>

			<footer id="site-footer" class="site-footer background">
				<div class="footer">
					<div class="section-padding">
						<div class="section-container">
							<div class="block-widget-wrap">
								<div class="row">
									<div class="col-lg-3 col-md-6">
										<div class="block block-menu m-b-20">
											<h2 class="block-title">Contact Us</h2>
											<div class="block-content">
												<ul>
													<li>
														<a href="page-contact.html">616.774.0561</a>
													</li>
													<li>
														<a href="page-contact.html">866.453.4748</a>
													</li>
													<li>
														<a href="page-contact.html">HR Fax: 810.222.5439</a>
													</li>
													<li>
														<a href="page-contact.html">sales@ruperfurniture.com</a>
													</li>
												</ul>
											</div>
										</div>

										<div class="block block-social">
											<ul class="social-link">
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-instagram"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
												<li><a href="#"><i class="fa fa-behance"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-3 col-md-6">
										<div class="block block-menu">
											<h2 class="block-title">Showroom</h2>
											<div class="block-content">
												<p>1000 84th Street SW , Byron Center, MI 49315</p>
												<p>AmericasMart Bldg. #1</p>
												<p>Suite 5C-1, Atlanta, GA 30303</p>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6">
										<div class="block block-menu">
											<h2 class="block-title">Services</h2>
											<div class="block-content">
												<ul>
													<li>
														<a href="page-about.html">Sale</a>
													</li>
													<li>
														<a href="page-about.html">Quick Ship</a>
													</li>
													<li>
														<a href="page-about.html">New Designs</a>
													</li>
													<li>
														<a href="page-about.html">Accidental Fabric Protection</a>
													</li>
													<li>
														<a href="page-about.html">Furniture Care</a>
													</li>
													<li>
														<a href="page-about.html">Gift Cards</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-6">
										<div class="block block-newsletter">
											<h2 class="block-title">Newsletter</h2>
											<div class="block-content">
												<div class="newsletter-text">Enter your email below to be the first to know about new collections and product launches.</div>
												<form action="#" method="post" class="newsletter-form">
													<input type="email" class="bg-white" name="your-email" value="" size="40" placeholder="Email address">
													<span class="btn-submit">
														<input type="submit" value="Subscribe">
													</span>
												</form>
											</div>
										</div>
										<div class="block block-image">
											<img width="309" height="32" src="media/payments.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="section-padding">
						<div class="section-container">
							<div class="block-widget-wrap">
								<p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Back Top button -->
		<div class="back-top button-show">
			<i class="arrow_carrot-up"></i>
		</div>

		<!-- Search -->
		<div class="search-overlay">
			<div class="close-search"></div>
			<div class="wrapper-search">
				<form role="search" method="get" class="search-from ajax-search" action="#">
					<div class="search-box">
						<button id="searchsubmit" class="btn" type="submit">
							<i class="icon-search"></i>
						</button>
						<input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s" placeholder="Search...">
						<div class="search-top">
							<div class="close-search">Cancel</div>
						</div>
						<div class="content-menu_search">
							<label>Suggested</label>
							<ul id="menu_search" class="menu">
								<li><a href="#">Furniture</a></li>
								<li><a href="#">Home Décor</a></li>
								<li><a href="#">Industrial</a></li>
								<li><a href="#">Kitchen</a></li>
							</ul>			
						</div>
					</div>
				</form>	
			</div>	
		</div>

		<!-- Wishlist -->
		<div class="wishlist-popup">
			<div class="wishlist-popup-inner">
                <div class="wishlist-popup-content">
                    <div class="wishlist-popup-content-top">
                        <span class="wishlist-name">Wishlist</span>
						<span class="wishlist-count-wrapper"><span class="wishlist-count">2</span></span>                                
						<span class="wishlist-popup-close"></span>
                    </div>
                    <div class="wishlist-popup-content-mid">
						<table class="wishlist-items">                        
							<tbody>
								<tr class="wishlist-item">
									<td class="wishlist-item-remove"><span></span></td>
									<td class="wishlist-item-image">
                                    	<a href="shop-details.html">
											<img width="600" height="600" src="media/product/3.jpg" alt="">                                        
										</a>
		                       		</td>
			                        <td class="wishlist-item-info">
										<div class="wishlist-item-name">
											<a href="shop-details.html">Chair Oak Matt Lacquered</a>
										</div>
										<div class="wishlist-item-price">
											<span>$150.00</span>
										</div>
										<div class="wishlist-item-time">June 4, 2022</div>                                
									</td>
			                        <td class="wishlist-item-actions">
			                            <div class="wishlist-item-stock">
											In stock 
										</div>
			                            <div class="wishlist-item-add">
											<div data-title="Add to cart">
												<a rel="nofollow" href="#" class="button">Add to cart</a>
											</div>
										</div>
	                                </td>
								</tr>
								<tr class="wishlist-item">
									<td class="wishlist-item-remove"><span></span></td>
									<td class="wishlist-item-image">
                                    	<a href="shop-details.html">
											<img width="600" height="600" src="media/product/4.jpg" alt="">                                        
										</a>
		                       		</td>
			                        <td class="wishlist-item-info">
										<div class="wishlist-item-name">
											<a href="shop-details.html">Pillar Dining Table Round</a>
										</div>
										<div class="wishlist-item-price">
											<del aria-hidden="true"><span>$150.00</span></del> 
											<ins><span>$100.00</span></ins>
										</div>
										<div class="wishlist-item-time">June 4, 2022</div>                                
									</td>
			                        <td class="wishlist-item-actions">
			                            <div class="wishlist-item-stock">
											In stock 
										</div>
			                            <div class="wishlist-item-add">
											<div data-title="Add to cart">
												<a rel="nofollow" href="#" class="button">Add to cart</a>
											</div>
										</div>
	                                </td>
								</tr>
							</tbody>
						</table>
					</div>
                    <div class="wishlist-popup-content-bot">
                        <div class="wishlist-popup-content-bot-inner">
                            <a class="wishlist-page" href="shop-wishlist.html">
								Open wishlist page                                    
							</a>
                            <span class="wishlist-continue" data-url="">
                                Continue shopping                                        
                            </span>
                        </div>
                        <div class="wishlist-notice wishlist-notice-show">Added to the wishlist!</div>
                    </div>
                </div>
            </div>
		</div>

		<!-- Compare -->
		<div class="compare-popup">
		    <div class="compare-popup-inner">
		        <div class="compare-table">
		            <div class="compare-table-inner">
                    	<a href="#" id="compare-table-close" class="compare-table-close">
                    		<span class="compare-table-close-icon"></span>
                    	</a>
                    	<div class="compare-table-items">
                    		<table id="product-table" class="product-table">
                    			<thead>
                    				<tr>
                    					<th>
                    						<a href="#" class="compare-table-settings">Settings</a>
                    					</th>
                    					<th>
                    						<a href="shop-details.html">Chair Oak Matt Lacquered</a> <span class="remove">remove</span>
                    					</th>
                    					<th>
                    						<a href="shop-details.html">Zunkel Schwarz</a> <span class="remove">remove</span>
                    					</th>
                    					<th>
                    						<a href="shop-details.html">Namaste Vase</a> <span class="remove">remove</span>
                    					</th>
                    				</tr>
                    			</thead>
                    			<tbody>
                    				<tr class="tr-image">
                    					<td class="td-label">Image</td>
                    					<td>
                    						<a href="shop-details.html">
                    							<img width="600" height="600" src="media/product/3.jpg" alt="">
                    						</a>
                    					</td>
                    					<td>
                    						<a href="shop-details.html">
                    							<img width="600" height="600" src="media/product/1.jpg" alt="">
                    						</a>
                    					</td>
                    					<td>
                    						<a href="shop-details.html">
                    							<img width="600" height="600" src="media/product/2.jpg" alt="">
                    						</a>
                    					</td>
                    				</tr>
                    				<tr class="tr-sku">
                    					<td class="td-label">SKU</td>
                    					<td>VN00189</td>
                    					<td></td>
                    					<td>D1116</td>
                    				</tr>
                    				<tr class="tr-rating">
                    					<td class="td-label">Rating</td>
                    					<td>
                    						<div class="star-rating">
                    							<span style="width:80%"></span>
                    						</div>
                    					</td>
                    					<td>
                    						<div class="star-rating">
                    							<span style="width:100%"></span>
                    						</div>
                    					</td>
                    					<td></td>
                    				</tr>
                    				<tr class="tr-price">
                    					<td class="td-label">Price</td>
                    					<td><span class="amount">$150.00</span></td>
                    					<td><del><span class="amount">$150.00</span></del> <ins><span class="amount">$100.00</span></ins></td>
                    					<td><span class="amount">$200.00</span></td>
                    				</tr>
                    				<tr class="tr-add-to-cart">
                    					<td class="td-label">Add to cart</td>
                    					<td>
                    						<div data-title="Add to cart">
                    							<a href="#" class="button">Add to cart</a>
                    						</div>
                    					</td>
                    					<td>
                    						<div data-title="Add to cart">
                    							<a href="#" class="button">Add to cart</a>
                    						</div>
                    					</td>
                    					<td>
                    						<div data-title="Add to cart">
                    							<a href="#" class="button">Add to cart</a>
                    						</div>
                    					</td>
                    				</tr>
                    				<tr class="tr-description">
                    					<td class="td-label">Description</td>
                    					<td>Phasellus sed volutpat orci. Fusce eget lore mauris vehicula elementum gravida nec dui. Aenean aliquam varius ipsum, non ultricies tellus sodales eu. Donec dignissim viverra nunc, ut aliquet magna posuere eget.</td>
                    					<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</td>
                    					<td>The EcoSmart Fleece Hoodie full-zip hooded jacket provides medium weight fleece comfort all year around. Feel better in this sweatshirt because Hanes keeps plastic bottles of landfills by using recycled polyester.7.8 ounce fleece sweatshirt made with up to 5 percent polyester created from recycled plastic.</td>
                    				</tr>
                    				<tr class="tr-content">
                    					<td class="td-label">Content</td>
                    					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
                    					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
                    					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</td>
                    				</tr>
                    				<tr class="tr-dimensions">
                    					<td class="td-label">Dimensions</td>
                    					<td>N/A</td>
                    					<td>N/A</td>
                    					<td>N/A</td>
                    				</tr>
                    			</tbody>
                    		</table>
                    	</div>
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Page Loader -->
		<div class="page-preloader">
	    	<div class="loader">
	    		<div></div>
	    		<div></div>
	    	</div>
	    </div>

		<!-- Dependency Scripts -->
		<script src="libs/popper/js/popper.min.js"></script>
		<script src="libs/jquery/js/jquery.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/slick/js/slick.min.js"></script>
		<script src="libs/countdown/js/jquery.countdown.min.js"></script>
		<script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
		<script src="libs/slider/js/tmpl.js"></script>
		<script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
		<script src="libs/slider/js/draggable-0.1.js"></script>
		<script src="libs/slider/js/jquery.slider.js"></script>
		<script src="libs/elevatezoom/js/jquery.elevatezoom.js"></script>
		
		<!-- Site Scripts -->
		<script src="assets/js/app.js"></script>
	</body>

<!-- Mirrored from caketheme.com/html/ruper/shop-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:33 GMT -->
</html>