<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from caketheme.com/html/ruper/shop-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:32 GMT -->

<head>
	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">

	<!-- Dependency Styles -->
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
	<link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
	<link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
	<link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
	<link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
	<link rel="stylesheet" href="libs/slider/css/jslider.css">

	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="assets/css/app.css" type="text/css">
	<link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

	<!-- Google Web Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
		rel="stylesheet">
</head>
<style>
	.wishlistbtn{
		background-color: rgba(255, 255, 255, 0);
		font-size:  16px;
		font-weight: 500;
	}
	.lovebtn{
		width: 35px;
		height: 35px;
		border: 1px solid rgb(109, 109, 109);
		border-radius: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 2px;
	}
	.lovebtn:hover{
		background-color: black;
	}
	.outofstock {
		position: absolute;
		top: 44%;
		left: 0;
		width: 100%;
		height: 50px;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 239, 239, 0.824) 18%, rgb(255, 236, 236) 53%, rgba(255, 239, 239, 0.877) 82%, rgba(255, 255, 255, 0) 100%);
		z-index: 9998;
	}

	.outofstockbackground {
		position: absolute;
		width: 100%;
		height: 107%;
		background-color: rgba(255, 255, 255, 0.533);
		z-index: 9997;
		margin-top: -25px;
	}

	.swal-custom {
		background: linear-gradient(94deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8240546218487395) 26%, rgba(0, 0, 0, 1) 53%, rgba(0, 0, 0, 0.8492647058823529) 79%, rgba(227, 227, 227, 0) 100%);
		color: #ffffff;
		width: 100%;
	}

	.swal-custom-ok-btn {
		color: black !important;
	}

	.swal2-container {
		z-index: 99999 !important;
	}
</style>

<body class="shop">
	
	<div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v2" style="z-index: 9998;">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container large">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="/">
										<img width="400" height="79" src="media/logo.png"
											alt="Ruper – Furniture HTML Theme" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="/"><i class="wpb-icon-shop"></i></a>
					</div>

					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="/userProfile"><i class="wpb-icon-user"></i></a>
						</div>
					</div>

					<!-- Search -->
					<div class="search-box">
						<div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
					</div>

					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="/wishlist"><i class="wpb-icon-heart"></i></a>
					</div>
				</div>
			</div>

			<div class="header-desktop"
				style="background: linear-gradient(94deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 53%, rgba(227,227,227,1) 100%);">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container large p-l-r">
							<div class="row">
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span class="menu-item-text">about us
														</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span
															class="menu-item-text">Contact</span></a>
												</li>

											</ul>
										</nav>
									</div>
								</div>

								<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>

								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">

										<!-- Search -->
										<div class="search-box">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>

										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
										</div>

										<!-- Cart -->
										<div class="mini-cart top-cart wishlist-box">
											<a class="cart-icon" href="/cart">
												<div class="icons-cart"><i class="icon-large-paper-bag"></i>
											</a>
										</div>

									</div>

									<!-- profile -->
									<div class="wishlist-box">
										<a href="/userprofilepage"><i class="wpb-icon-user"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="site-main" class="site-main">
			<div id="main-content" class="main-content">
				<div id="primary" class="content-area">


					<div id="content" class="site-content" role="main">
						<div class="shop-details zoom" data-product_layout_thumb="scroll" data-zoom_scroll="true"
							data-zoom_contain_lens="true" data-zoomtype="inner" data-lenssize="200"
							data-lensshape="square" data-lensborder="" data-bordersize="2" data-bordercolour="#f9b61e"
							data-popup="false">
							<div class="product-top-info">
								<div class="section-padding">
									<div class="section-container p-l-r">
										<div class="row">
											<div class="product-images col-lg-7 col-md-12 col-12">
												<div class="row">
													<div class="col-md-2">
														<div class="content-thumbnail-scroll">
															<div class="image-thumbnail slick-carousel slick-vertical"
																data-asnavfor=".image-additional" data-centermode="true"
																data-focusonselect="true" data-columns4="5"
																data-columns3="4" data-columns2="4" data-columns1="4"
																data-columns="4" data-nav="true"
																data-vertical="&quot;true&quot;"
																data-verticalswiping="&quot;true&quot;">


																<% for (let i=0; i < productDetails.images.length; i++)
																	{ %>
																	<div class="img-item slick-slide">
																		<span class="img-thumbnail-scroll">
																			<img width="600" height="600"
																				src="/uploads/<%= productDetails.images[i] %>"
																				alt="">
																		</span>
																	</div>
																	<% } %>
															</div>
														</div>
													</div>
													<div class="col-md-10">
														<div class="scroll-image main-image">
															<div class="image-additional slick-carousel"
																data-asnavfor=".image-thumbnail" data-fade="true"
																data-columns4="1" data-columns3="1" data-columns2="1"
																data-columns1="1" data-columns="1" data-nav="true">
																<% for (let i=0; i < productDetails.images.length; i++)
																	{ %>
																	<div class="img-item slick-slide">
																		<% if (productDetails.stock===0) { %>
																			<div class="outofstockbackground">
																				<div
																					class="outofstock text-danger d-flex justify-content-center align-items-center">
																					Out of stock
																				</div>
																			</div>
																			<% } %>
																				<img width="900" height="900"
																					src="/uploads/<%= productDetails.images[i] %>"
																					alt="" title="">
																	</div>
																	<% } %>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="product-info col-lg-5 col-md-12 col-12 ">
												<h1 class="title">
													<%= productDetails.name %>
												</h1>
												<span class="price">
														<ins><span>₹<%=productDetails.offerPrice%>.00</span></ins>
														<del aria-hidden="true"><span>₹<%=productDetails.regularPrice%>.00</span></del>
														&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-dark"><%=productDetails.offerPercentage%>% off</span>
												</span>
												<div class="rating">


													<% if (productDetails.avgStar === 1) { %>
														<div class="star star-1"></div>
													<% } else if (productDetails.avgStar === 2) { %>
														<div class="star star-2"></div>
													<% } else if (productDetails.avgStar === 3) { %>
														<div class="star star-3"></div>
													<% } else if (productDetails.avgStar === 4) { %>
														<div class="star star-4"></div>
													<% } else if (productDetails.avgStar === 5) { %>
														<div class="star star-5"></div>
													<% } else if (productDetails.avgStar === 0) { %>
														<div class="star star-0"></div>
													<% } %>
													
													<div class="review-count">
														(<%= ratingData.length %><span> reviews</span>)
													</div>
												</div>
												<div class="variations">
													<table cellspacing="0">
														
														<div class="product-meta">
															<span class="posted-in">Description: <b
																	style="color: black;">
																	<%= productDetails.description%>
																</b></span>
															<hr>
															<span class="posted-in">Category: <b style="color: black;">
																	<%= productDetails.categoryName%>
																</b></span>
															<hr>
															<span class="posted-in">Color: <b style="color: black;">
																	<%= productDetails.color%>
																</b></span>
															<hr>
															<span class="posted-in">Seating capacity: <b
																	style="color: black;">
																	<%= productDetails.capacity%>
																</b></span>
															<hr>
															<div style="display: block;" id="serverwish">
																<% if (userData) { %>
																	<% if (wishproduct) { %>
																		<div class="d-flex" style="gap: 10px;">
																			<div class="lovebtn" onclick="removewishlist('<%= productDetails._id%>')">
																				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
																				<path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77"/>
																				</svg>
																			</div>
																			<button class="wishlistbtn" id="wishlistbtn">Remove from wishlist</button>
																		</div>
																	<% } else { %>
																		<div class="d-flex" style="gap: 10px;">
																			<div class="lovebtn" onclick="wish('<%= productDetails._id%>')">
																				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
																				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
																				</svg>
																			</div>
																			<button class="wishlistbtn" id="wishlistbtn">Add to wishlist</button>
																		</div>
																	<% } %>

																<% } else { %>
																	<div class="d-flex" style="gap: 10px;">
																		<div class="lovebtn" onclick="wish('<%= productDetails._id%>')">
																			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
																			<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
																			</svg>
																		</div>
																		<button class="wishlistbtn" id="wishlistbtn">Add to wishlist</button>
																	</div>
																<% } %>
															</div>
															<div id="addwish" style="display: none;">
																<div class="d-flex" style="gap: 10px;" >
																	<div class="lovebtn" onclick="wish('<%= productDetails._id%>')">
																		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
																		<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
																		</svg>
																	</div>
																	<button class="wishlistbtn" id="wishlistbtn">Add to wishlist</button>
																</div>
															</div>
															<div id="removewish" style="display: none;">
																<div class="d-flex" style="gap: 10px;" >
																	<div class="lovebtn" onclick="removewishlist('<%= productDetails._id%>')">
																		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
																		<path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77"/>
																		</svg>
																	</div>
																	<button class="wishlistbtn" id="wishlistbtn">Remove from wishlist</button>
																</div>
															</div>
															
														</div>
													</table>

												</div>
												<div class="buttons">
													<% if (userData) { %>
														<% if (productDetails.stock === 0) { %>
															<div style="width: 100%; height: 50px; background-color: black; font-size: 20px;"
																class="align-items-center justify-content-center d-flex text-light">
																Out of Stock
															</div>
														<% } else { %>
															<% if (userData.cart.length != 0) { %>
																<% let productFound = false; %>
																<% for (let i = 0; i < userData.cart.length; i++) { %>
																	<% const productIDString = userData.cart[i].productID.toString(); %>
																	<% const productDetailsIDString = productDetails._id.toString(); %>
																	<% if (productDetailsIDString === productIDString) { %>
																		<a href="/cart" style="width: 100%; height: 50px; background-color: black; font-size: 20px; margin-top: 90px;"
																			class="d-flex justify-content-center align-items-center text-light">
																			View Cart
																		</a>
																		<!--<div class="btn-quick-buy" data-title="Wishlist">
																			<button class="product-btn">Buy It Now</button>
																		</div> -->
																		<% productFound = true; %>
																	<% } %>
																<% } %>
																<% if (!productFound) { %>
																	<div class="add-to-cart-wrap">
																		<div class="btn-add-to-cart" style=" margin-top: 90px;"
																			onclick="addtocart('<%= productDetails._id %>')">
																			<a id="addtocarttext">add to cart</a>
																		</div>
																	</div>
																	<!--<div class="btn-quick-buy" data-title="Wishlist">
																		<button class="product-btn">Buy It Now</button>
																	</div> -->
																<% } %>

																<% } else { %>
																	<div class="add-to-cart-wrap">
																		<div class="btn-add-to-cart" style=" margin-top: 90px;"
																			onclick="addtocart('<%= productDetails._id %>')">
																			<a id="addtocarttext">add to cart</a>
																		</div>
																	</div>
																	<!--<div class="btn-quick-buy" data-title="Wishlist">
																		<button class="product-btn">Buy It Now</button>
																	</div> -->
																<% } %>
														<% } %>
													<% } else { %>
														<% if (productDetails.stock === 0) { %>
															<div style="width: 100%; height: 50px; background-color: black; font-size: 20px;"
																class="align-items-center justify-content-center d-flex text-light">
																Out of Stock
															</div>
														<% } else { %>
															<div class="add-to-cart-wrap">
																<div class="btn-add-to-cart" style=" margin-top: 90px;"
																	onclick="addtocart('<%= productDetails._id %>')">
																	<a id="addtocarttext">add to cart</a>
																</div>
															</div>
															<!--<div class="btn-quick-buy" data-title="Wishlist">
																<button class="product-btn">Buy It Now</button>
															</div> -->
														<% } %>
													<% } %>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="product-tabs">
								<div class="section-padding">
									<div class="section-container p-l-r">
										<div class="product-tabs-wrap">
											<ul class="nav nav-tabs" role="tablist">
												<li class="nav-item">
													<a class="nav-link active" data-toggle="tab" href="#description"
														role="tab">Description</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" data-toggle="tab" href="#reviews"
														role="tab">Reviews (<%= ratingData.length %>)</a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane fade show active" id="description" role="tabpanel">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
														enim ad minim veniam, quis nostrud exercitation ullamco laboris
														nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
														in reprehenderit in voluptate velit esse cillum dolore eu fugiat
														nulla pariatur. Excepteur sint occaecat cupidatat non proident,
														sunt in culpa qui officia deserunt mollit anim id est laborum.
														Sed ut perspiciatis unde omnis iste natus error sit voluptatem
														accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
														quae ab illo inventore veritatis et quasi architecto beatae
														vitae dicta sunt explicabo.</p>
													<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
														aut fugit, sed quia consequuntur magni dolores eos qui ratione
														voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
														ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
														non numquam eius modi tempora incidunt ut labore et dolore
														magnam aliquam quaerat voluptatem.</p>
												</div>
												<div class="tab-pane fade" id="reviews" role="tabpanel">
													<div id="reviews" class="product-reviews">
														<div id="comments">
															<h2 class="reviews-title"><%= ratingData.length %> review for <span><%= productDetails.name %></span></h2>
															<% if (ratingData.length === 0) { %>
																<div class="col-lg-12" style="width: 100%; height: 100px; background-color:
																	rgb(255, 255, 255); display: flex; justify-content: center;
																	align-items: center; border: 1px solid black; margin-bottom: 50px;">
																	<p style="color: black; margin-top: 10px;">No reviews found</p>
																</div>
															<% } else { %>
																<ol class="comment-list">
																	<% for (let i = 0; i < ratingData.length; i++) { %>
																		<li class="review col-lg-12">
																			<div class="content-comment-container">
																				<div class="comment-container">
																					<img src="media/user.jpg" class="avatar"
																						height="60" width="60" alt="">
																					<div class="comment-text">
																						<div class="rating small">
																							<% if (ratingData[i].star === 1) { %>
																								<div class="star star-1"></div>
																							<% } else if (ratingData[i].star === 2) { %>
																								<div class="star star-2"></div>
																							<% } else if (ratingData[i].star === 3) { %>
																								<div class="star star-3"></div>
																							<% } else if (ratingData[i].star === 4) { %>
																								<div class="star star-4"></div>
																							<% } else if (ratingData[i].star === 5) { %>
																								<div class="star star-5"></div>
																							<% } else if (ratingData[i].star === 0) { %>
																								<div class="star star-0"></div>
																							<% } %>
																						</div>
																						<div class="review-author"><%= ratingData[i].name %>
																						</div>
																						<div class="review-time"><%= ratingData[i].date %></div>
																					</div>
																				</div>
																				<div class="description">
																					<p><%= ratingData[i].description %></p>
																				</div>
																			</div>
																		</li>
																	<% } %>
																</ol>
															<% } %>
														</div>
														<% if (userData) { %>
															<% if (boughtProductID) { %>
																<div id="review-form">
																	<div id="respond" class="comment-respond comment-form">
																		<span id="reply-title" class="comment-reply-title">Add a
																			review</span>
																			
																			<div class="comment-form-rating">
																				<label for="rating">Your rating</label>
																				<p class="stars">
																					<select style="border: none; font-size: 24px;" id="ratingstars">
																						<option value="1">★☆☆☆☆</option>  
																						<option value="2">★★☆☆☆</option>  
																						<option value="3">★★★☆☆</option>  
																						<option value="4">★★★★☆</option>  
																						<option value="5">★★★★★</option>
																					</select>
																				</p>
																				
																			</div>
																			<div class="comment-form-rating">
																				<label for="rating">Your Review</label>
																			</div>
																			
																			<div class="content-info-reviews">
																				<p class="comment-form-comment">
																				<textarea id="comment" name="comment"
																					placeholder="Enter your feedback" cols="45"
																					rows="8" aria-required="true"
																					required=""></textarea>
																			</p>
																				<p class="form-submit">
																					<input name="submit" type="submit"
																						id="submit" class="submit"
																						value="Submit" onclick="ratingstars('<%= productDetails._id %>')">
																				</p>
																			</div>
																	</div>
																</div>
															<% } %>
														<% } %>
														<div class="clear"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main-content -->
		</div>

		<footer id="site-footer" class="site-footer background">
			<div class="footer">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu m-b-20">
										<h2 class="block-title">Contact Us</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-contact.html">616.774.0561</a>
												</li>
												<li>
													<a href="page-contact.html">866.453.4748</a>
												</li>
												<li>
													<a href="page-contact.html">HR Fax: 810.222.5439</a>
												</li>
												<li>
													<a href="page-contact.html">sales@ruperfurniture.com</a>
												</li>
											</ul>
										</div>
									</div>

									<div class="block block-social">
										<ul class="social-link">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Showroom</h2>
										<div class="block-content">
											<p>1000 84th Street SW , Byron Center, MI 49315</p>
											<p>AmericasMart Bldg. #1</p>
											<p>Suite 5C-1, Atlanta, GA 30303</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-menu">
										<h2 class="block-title">Services</h2>
										<div class="block-content">
											<ul>
												<li>
													<a href="page-about.html">Sale</a>
												</li>
												<li>
													<a href="page-about.html">Quick Ship</a>
												</li>
												<li>
													<a href="page-about.html">New Designs</a>
												</li>
												<li>
													<a href="page-about.html">Accidental Fabric Protection</a>
												</li>
												<li>
													<a href="page-about.html">Furniture Care</a>
												</li>
												<li>
													<a href="page-about.html">Gift Cards</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="block block-newsletter">
										<h2 class="block-title">Newsletter</h2>
										<div class="block-content">
											<div class="newsletter-text">Enter your email below to be the first to know
												about new collections and product launches.</div>
											<form action="#" method="post" class="newsletter-form">
												<input type="email" class="bg-white" name="your-email" value=""
													size="40" placeholder="Email address">
												<span class="btn-submit">
													<input type="submit" value="Subscribe">
												</span>
											</form>
										</div>
									</div>
									<div class="block block-image">
										<img width="309" height="32" src="media/payments.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="section-padding">
					<div class="section-container">
						<div class="block-widget-wrap">
							<p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Back Top button -->
	<div class="back-top button-show">
		<i class="arrow_carrot-up"></i>
	</div>

	<!-- Search -->
    <div class="search-overlay">
		<div class="wrapper-search">
            <div class="search-from">
				<div class="search-box">
                    <div class="d-flex">
                        <button id="searchsubmit" class="btn" onclick="search()">
                            <i class="icon-search"></i>
                        </button>
                        <input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
                            placeholder="Search...">
                        <div class="close-search" onclick="cancelsearch()">Cancel</div>
                    </div>
                    <h4 id="noproduct" style="display: none;">No products founded</h4>
                    <div id="prodatas">
                        
                    </div>
				</div>
            </div>
		</div>
	</div>

	

	

	<!-- Page Loader 
	<div class="page-preloader">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div>-->

	<!-- Dependency Scripts -->
	<script src="libs/popper/js/popper.min.js"></script>
	<script src="libs/jquery/js/jquery.min.js"></script>
	<script src="libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="libs/slick/js/slick.min.js"></script>
	<script src="libs/countdown/js/jquery.countdown.min.js"></script>
	<script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
	<script src="libs/slider/js/tmpl.js"></script>
	<script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
	<script src="libs/slider/js/draggable-0.1.js"></script>
	<script src="libs/slider/js/jquery.slider.js"></script>
	<script src="libs/elevatezoom/js/jquery.elevatezoom.js"></script>
	<script src="assets/js/app.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<script>
	function addtocart(id) {
		$.ajax({
			url: "/cart",
			method: "post",
			data: {
				id
			},
			success: (response) => {
				if (response.status === "okay") {
					Swal.fire({
						icon: "success",
						title: "Product added into your cart",
						showConfirmButton: false,
						customClass: {
							popup: 'swal-custom',
						},
						timer: 1500
					});
					setTimeout(() => {
						window.location.href = "/cart"
					}, 1000);
				} else if (response.status === "notlogin") {
					Swal.fire({
						title: "Please login",
						showCancelButton: true,
						confirmButtonColor: "#39e75f",
						cancelButtonColor: "#ffffff",
						confirmButtonText: "Go to login page",
						customClass: {
							popup: 'swal-custom',
							cancelButton: 'swal-custom-ok-btn'
						}
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.href = "/userLogin"
						}
					});
				} else if (response.status === "blocked") {
					Swal.fire({
						title: "Oops ! . . .",
						text: "This product has been temporaily discontinued",
						showCancelButton: true,
						confirmButtonColor: "#39e75f",
						cancelButtonColor: "#ffffff",
						confirmButtonText: "Okay",
						customClass: {
							popup: 'swal-custom',
							cancelButton: 'swal-custom-ok-btn'
						}
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.reload()
						}
					});
				}
			}
		})
	}

	function ratingstars(productid){
    const star = document.getElementById("ratingstars").value;
    const feedback  =document.getElementById("comment").value;
	if(feedback.trim() === ""){
		alert("fill this fields")
	}else{
		$.ajax({
			url: "/feedback",
			method: "post",
			data: {
				star,
				feedback,
				productid
			},
			success: (response) => {
				if (response.status === "updated") {
					Swal.fire({
						icon: "success",
						title: "Thank you for the feedback",
						showConfirmButton: false,
						customClass: {
							popup: 'swal-custom',
						},
						timer: 1500
					});
					setTimeout(() => {
						window.location.reload()
					}, 1000);
				}
			}
		})
	}
}

function wish(id){
	$.ajax({
		url: "/wishlist",
		method: "post",
		data: {
			id
		},
		success: (response) => {
			if (response.status === "okay") {
				Swal.fire({
					text : "Product added into your wishlist",
					showConfirmButton: false,
					position : "bottom",
					timer: 1000
				});
				document.getElementById("serverwish").style.display = "none";
				document.getElementById("removewish").style.display = "block";
				document.getElementById("addwish").style.display = "none";
			} else if (response.status === "notlogin") {
				Swal.fire({
					title: "Please login",
					showCancelButton: true,
					confirmButtonColor: "#39e75f",
					cancelButtonColor: "#ffffff",
					confirmButtonText: "Go to login page",
					customClass: {
						popup: 'swal-custom',
						cancelButton: 'swal-custom-ok-btn'
					}
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.href = "/userLogin"
					}
				});
			} else if (response.status === "blocked") {
				Swal.fire({
					title: "Oops ! . . .",
					text: "This product has been temporaily discontinued",
					showCancelButton: true,
					confirmButtonColor: "#39e75f",
					cancelButtonColor: "#ffffff",
					confirmButtonText: "Okay",
					customClass: {
						popup: 'swal-custom',
						cancelButton: 'swal-custom-ok-btn'
					}
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.reload()
					}
				});
			}
		}
	})
} 

function removewishlist(id){
	$.ajax({
			url: "/wishlist",
			method: "delete",
			data: {
				id
			},
			success: (response) => {
				if (response.status === "okay") {
					Swal.fire({
						text: "Product removed from wishlist",
						showConfirmButton: false,
						position : "bottom",
						timer: 1000
					});
					document.getElementById("serverwish").style.display = "none";
					document.getElementById("addwish").style.display = "block";
					document.getElementById("removewish").style.display = "none";
				} else if (response.status === "notlogin") {
					Swal.fire({
						title: "Please login",
						showCancelButton: true,
						confirmButtonColor: "#39e75f",
						cancelButtonColor: "#ffffff",
						confirmButtonText: "Go to login page",
						customClass: {
							popup: 'swal-custom',
							cancelButton: 'swal-custom-ok-btn'
						}
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.href = "/userLogin"
						}
					});
				} else if (response.status === "blocked") {
					Swal.fire({
						title: "Oops ! . . .",
						text: "This product has been temporaily discontinued. Please refresh your page",
						showCancelButton: true,
						confirmButtonColor: "#39e75f",
						cancelButtonColor: "#ffffff",
						confirmButtonText: "Okay",
						customClass: {
							popup: 'swal-custom',
							cancelButton: 'swal-custom-ok-btn'
						}
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.reload()
						}
					});
				}
			}
		})
}


const searchValue = document.getElementById("myInput")
    let clearTimer;
    searchValue.addEventListener("keyup", () => {
        document.getElementById("prodatas").innerHTML= "";
        document.getElementById("noproduct").style.display = "none"
        clearTimeout(clearTimer);
        clearTimer = setTimeout(() => {
            search();
        }, 1000)
    });
    function search(){
        const searchValue = document.getElementById("myInput").value
        $.ajax({
			url: "/search",
			method: "post",
			data: {
				searchValue
			},
			success: (response) => {
				if (response.status === "okay") {
					document.getElementById("prodatas").innerHTML= ""
                    displaySearch(response.products)
				} else {
					document.getElementById("noproduct").style.display = "block"
				}
			}
		})
    }

    function displaySearch(data) {
    const prodatasDiv = document.getElementById("prodatas");
    prodatasDiv.innerHTML = ""; // Clear previous search results
    
    data.forEach(product => {
        const productDiv = document.createElement("div");
        productDiv.classList.add("d-flex", "align-items-center");

        const imageDiv = document.createElement("div");
        imageDiv.style.width = "80px";
        imageDiv.style.height = "80px";
        imageDiv.style.backgroundColor = "rgb(255, 255, 255)";
        imageDiv.style.marginRight = "30px";
        imageDiv.innerHTML = `<img src="/uploads/${product.images[0]}" alt="product image">`;
        imageDiv.onclick = function() {
            window.location.href = `/productDetailspage?id=${product._id}`;
        };

        const infoDiv = document.createElement("div");
        infoDiv.style.display = "flex";
        infoDiv.style.flexDirection = "column";
        infoDiv.style.justifyContent = "center";
        infoDiv.innerHTML = `
            <h5 style="margin: 0;">${product.name}</h5>
            <p style="margin: 0;">₹${product.regularPrice}.00</p>
        `;

        productDiv.appendChild(imageDiv);
        productDiv.appendChild(infoDiv);
        prodatasDiv.appendChild(productDiv);

        const hr = document.createElement("hr");
        prodatasDiv.appendChild(hr);
    });
}


function cancelsearch(){
    document.getElementById("noproduct").style.display = "none"
    const prodatasDiv = document.getElementById("prodatas").innerHTML = "";
    const searchValue = document.getElementById("myInput").value =""
}
</script>

</html>