<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">
    <!-- Dependency Styles -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
    <link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
    <link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <link rel="stylesheet" href="assets/css/responsive.css" type="text/css">
    <!-- Google Web Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
        rel="stylesheet">
</head>
<style>
    .outofstock {
        position: absolute;
        top: 48%;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 239, 239, 0.824) 18%, rgb(255, 236, 236) 53%, rgba(255, 239, 239, 0.877) 82%, rgba(255, 255, 255, 0) 100%);
        z-index: 9998;
    }
    .outofstockbackground {
        position: absolute;
        width: 100%;
        height: 108%;
        background-color: rgba(255, 255, 255, 0.533);
        z-index: 9997;
        margin-top: -25px;
    }
</style>
<body class="home home-2 title-2">
    <div id="page" class="hfeed page-wrapper">
		<header id="site-header" class="site-header header-v2">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container large">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="/">
										<img width="400" height="79" src="media/logo.png" />
									</a>
								</div>
							</div>
							<!-- Search -->
							<div class="search-box" style="position: absolute; top: 25px; right: 30px;">
								<div class="search-toggle"><i class="wpb-icon-magnifying-glass" style="font-size: 20px; color: black;"></i></div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="/"><i class="wpb-icon-shop"></i></a>
					</div>
					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="/wishlist"><i class="icon-heart"></i></a>
					</div>
					<!-- Cart -->
					<div class="wishlist-box">
						<a class="cart-icon" href="/cart"><i class="icon-large-paper-bag"></i></a>
					</div>
					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="/userProfilepage"><i class="wpb-icon-user"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-desktop"
				style="background: linear-gradient(94deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 53%, rgba(227,227,227,1) 100%);">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container large p-l-r">
							<div class="row">
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/contact"><span class="menu-item-text">Contact</span></a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png" />
										</a>
									</div>
								</div>
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">
										<!-- Search -->
										<div class="search-box" style="margin-right: -8px;">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>
										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
											<% if (wishCount != undefined) { %>
												<span class="count-wishlist"><%= wishCount %></span>
											<% } else { %>
												<span class="count-wishlist">0</span>
											<% } %>
										</div>
										<!-- Cart -->
										<div class="mini-cart top-cart wishlist-box">
											<a class="cart-icon" href="/cart">
											<% if (CartCount != undefined) { %>
												<div class="icons-cart"><i class="icon-large-paper-bag"></i><span class="cart-count"><%= CartCount %></span></div>
											<% } else { %>
												<div class="icons-cart"><i class="icon-large-paper-bag"></i><span class="cart-count">0</span></div>
											<% } %>
											</a>
										</div>
										<!-- profile -->
										<div class="wishlist-box" style="margin-left: -0px;">
											<a href="/userprofilepage"><i class="wpb-icon-user"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
        <div id="site-main" class="site-main">
            <div id="main-content" class="main-content">
                <div id="primary" class="content-area">
                    <div id="content" class="site-content" role="main">
                        <section class="section section-padding m-b-15">
                            <div class="section-container large">
                                <div class="block block-sliders layout-2 nav-center">
									<div class="block-widget-wrap">
										<div class="slick-sliders" data-autoplay="true" data-dots="true"
											data-nav="false" data-columns4="1" data-columns3="1" data-columns2="1"
											data-columns1="1" data-columns1440="1" data-columns="1">
											<div class="item slick-slide">
												<div class="item-content">	
													<div class="content-image">
														<img width="1920" height="1080" src="media/slider/28.jpg" alt="Image Slider">
													</div>
													<div class="item-info horizontal-center vertical-middle">
														<div class="content">
															<% if (sortedOfferBanner[0]) { %>
																<div class="subtitle-slider"><%= sortedOfferBanner[0].OfferStartDate %> &nbsp;&nbsp; to &nbsp;&nbsp; <%= sortedOfferBanner[0].OfferEndDate %> </div>
																<div class="subtitle-slider">Save up to ₹<%= sortedOfferBanner[0].OfferDiscount %>.00 on all products above ₹<%= sortedOfferBanner[0].OfferStartingPrice %>.00 </div>
																<h2 class="title-slider">In <%= sortedOfferBanner[0].name %> category</h2>
															<% } else { %>
																<div class="subtitle-slider">Its time to change</div>
																<h2 class="title-slider">Living room furniture</h2>
															<% } %>
														</div>
													</div>
												</div>
											</div>
											<div class="item slick-slide">
												<div class="item-content">
													<div class="content-image">
														<img width="1920" height="1080" src="media/slider/22.jpg" alt="Image Slider">
													</div>
													<div class="item-info horizontal-start vertical-middle">
														<div class="content">
															<% if (sortedOfferBanner[1]) { %>
																<div class="subtitle-slider "><%= sortedOfferBanner[0].OfferStartDate %> &nbsp;&nbsp; to &nbsp;&nbsp; <%= sortedOfferBanner[0].OfferEndDate %> </div>
																<div class="subtitle-slider ">Save up to ₹<%= sortedOfferBanner[1].OfferDiscount %>.00 on all products above ₹<%= sortedOfferBanner[1].OfferStartingPrice %>.00 </div>
																<h2 class="title-slider ">In <%= sortedOfferBanner[1].name %> category</h2>
															<% } else { %>
																<div class="subtitle-slider">Make your kitchen is unique</div>
																<h2 class="title-slider">Kitchen and Dining</h2>
															<% } %>
														</div>
													</div>
												</div>
											</div>
											<div class="item slick-slide">
												<div class="item-content">
													<div class="content-image">
														<img width="1920" height="1080" src="media/slider/20.jpg" alt="Image Slider">
													</div>
													<div class="item-info horizontal-center vertical-middle">
														<div class="content">
															<% if (sortedOfferBanner[2]) { %>
																<div class="subtitle-slider"><%= sortedOfferBanner[0].OfferStartDate %> &nbsp;&nbsp; to &nbsp;&nbsp; <%= sortedOfferBanner[0].OfferEndDate %> </div>
																<div class="subtitle-slider">Save up to ₹<%= sortedOfferBanner[2].OfferDiscount %>.00 on all products above ₹<%= sortedOfferBanner[2].OfferStartingPrice %>.00 </div>
																<h2 class="title-slider">In <%= sortedOfferBanner[2].name %> category</h2>
															<% } else { %>
																<div class="subtitle-slider">Wake up with calmness</div>
																<h2 class="title-slider">Bedroom furniture</h2>
															<% } %>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                        </section>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-12 col-12 sidebar left-sidebar md-b-50 px-5 mt-5">
                                    <!-- Block Product Categories -->
                                    <h3 style="text-align: center; margin-bottom: 50px;">Sort by</h3>
                                    <div class="block block-product-cats">
                                        <div class="block-title"><h2 style="text-align: center;">Categories</h2></div>
                                        <div class="block-content">
                                            <div class="product-cats-list catli">
                                                <ul>
                                                    <a onclick="catsort('All')">
                                                        <li style="background-color: rgb(0, 0, 0); color: white; text-align: center;" id="allcat">All</li>
                                                    </a>
                                                    <% for( let i = 0; i < catDetails.length; i++ ) { %>
                                                        <a onclick="catsort('<%= catDetails[i]._id %>' , '<%= i %>')">
                                                            <li id="allcat<%= i %>" style="text-align: center;"><%= catDetails[i].name %></li>
                                                        </a>
                                                    <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                        <hr style="margin-bottom: 50px;">
                                        <div class="block-title"><h2 style="text-align: center;">Name</h2></div>
                                        <div class="block-content">
                                            <div class="product-cats-list nameli">
                                                <ul>
                                                    <a onclick="nameSort('default')"><li style="background-color: rgb(0, 0, 0); color: white; text-align: center;" id="default">Default</li></a>
                                                    <a onclick="nameSort('ascending')"><li style="text-align: center;" id="ascending">aA - zZ</li></a>
                                                    <a onclick="nameSort('descending')"><li style="text-align: center;" id="descending">zZ - aA</li></a>
                                                </ul>
                                            </div>
                                        </div>
                                        <hr style="margin-bottom: 50px;">
                                        <div class="block-title"><h2 style="text-align: center;">Date</h2></div>
                                        <div class="block-content">
                                            <div class="product-cats-list dateli">
                                                <ul>
                                                    <a onclick="dateSort('default')"><li style="background-color: rgb(0, 0, 0); color: white; text-align: center;" id="datedefault">Default</li></a>
                                                    <a onclick="dateSort('new')"><li style="text-align: center;" id="new">New arrivals</li></a>
                                                    <a onclick="dateSort('old')"><li style="text-align: center;" id="old">Oldest products</li></a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <section class="section section-padding m-b-70 col-lg-10">
                                    <div class="products-topbar clearfix" style="margin-right: 10px; ">
                                        <div class="products-topbar-right">
                                            <div class="products-sort dropdown" >
                                                <span class="sort-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Sort by Rating Price</span>
                                                <ul class="sort-list dropdown-menu" x-placement="bottom-start">
                                                    <li><a onclick="pricesort('lowToHigh')">Sort by price: low to high</a></li>
                                                    <li><a onclick="pricesort('HighTolow')">Sort by price: high to low</a></li>
                                                </ul>
                                            </div>
                                            <div class="products-sort dropdown"  style="margin-right: 10px;">
                                                <span class="sort-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Sort by Rating</span>
                                                <ul class="sort-list dropdown-menu" x-placement="bottom-start">
                                                    <li><a onclick="ratingsort('5')">★ ★ ★ ★ ★</a></li>
                                                    <li><a onclick="ratingsort('4')">★ ★ ★ ★ </a></li>
                                                    <li><a onclick="ratingsort('3')">★ ★ ★</a></li>
                                                    <li><a onclick="ratingsort('2')">★ ★</a></li>
                                                    <li><a onclick="ratingsort('1')">★</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <% if (productDetails.length === 0) { %>
                                        <div class="justify-content-center d-flex align-center" style="margin-bottom: 20px; margin-top: 100px;">
												<div class="col-lg-8" style="width: 100%; height: 100px; background-color:rgb(255, 255, 255); display: flex; justify-content: center; align-items: center; border: 1px solid black;">
													<p style="color: black; margin-top: 10px;">Sorry no products found</p>
												</div>
											</div>
                                    <% } else { %>
                                        <div class="section-container large" id="ajaxproductDiv">
                                            <div class="block block-products loadmore">
                                                <div class="block-widget-wrap">
                                                    <div class="block-content">
                                                        <div class="products-list grid">
                                                            <div class="row">
                                                                <% for( let i=0; i < productDetails.length; i++ ) { %>
                                                                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6">
                                                                        <div class="items">
                                                                            <div class="products-entry clearfix product-wapper">
                                                                                <div class="products-thumb">
                                                                                    <% if (productDetails[i].stock===0) { %>
                                                                                        <a href="/productDetailspage?id=<%= productDetails[i]._id %>">
                                                                                            <div class="outofstockbackground">
                                                                                                <div class="outofstock text-danger d-flex justify-content-center align-items-center">
                                                                                                    Out of stock
                                                                                                </div>
                                                                                            </div>
                                                                                        </a>
                                                                                    <% } %>
                                                                                    <div class="product-thumb-hover">
                                                                                        <a href="/productDetailspage?id=<%= productDetails[i]._id %>">
                                                                                            <img width="600" height="600" src="/uploads/<%= productDetails[i].images[0]%>" class="post-image" alt="">
                                                                                            <img width="600" height="600" src="/uploads/<%= productDetails[i].images[3]%>" class="hover-image back" alt="">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="products-content">
                                                                                    <div class="contents text-center">
                                                                                        <h3 class="product-title">
                                                                                            <%= productDetails[i].name %>
                                                                                        </h3>
                                                                                        <span class="price">
																							<ins><span>₹<%=productDetails[i].offerPrice%>.00</span></ins>
																							<del aria-hidden="true"><span>₹<%=productDetails[i].regularPrice%>.00</span></del>
                                                                                        </span>
                                                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">
                                                                                            <ins><span style="color: black;"><%=productDetails[i].offerPercentage%>% off</span></ins>
                                                                                        </span>
                                                                                            <div class="rating" style="margin-top: 10px;">
                                                                                                <% if (productDetails[i].avgStar === 1) { %>
                                                                                                    <div class="star star-1"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 2) { %>
                                                                                                    <div class="star star-2"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 3) { %>
                                                                                                    <div class="star star-3"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 4) { %>
                                                                                                    <div class="star star-4"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 5) { %>
                                                                                                    <div class="star star-5"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 0) { %>
                                                                                                    <div class="star star-0"></div>
                                                                                                <% } %>
                                                                                            </div>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </section>
                            </div>
                        </div>
                    </div>
                </div><!-- #content -->
            </div><!-- #primary -->
        </div><!-- #main-content -->
    </div>
    <footer id="site-footer" class="site-footer background">
        <div class="footer">
            <div class="section-padding">
                <div class="section-container large">
                    <div class="block-widget-wrap">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="block block-menu">
                                    <h2 class="block-title">About</h2>
                                    <div class="block-content">
                                        <ul>
                                            <li>
                                                <a>Low Shipping charge</a>
                                            </li>
                                            <li>
                                                <a>Flexible Payment</a>
                                            </li>
                                            <li>
                                                <a>Return policy</a>
                                            </li>
                                            <li>
                                                <a>Online support</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="block block-menu">
                                    <h2 class="block-title">Help</h2>
                                    <div class="block-content">
                                        <ul>
                                            <li>
                                                <a>Contact & FAQ</a>
                                            </li>
                                            <li>
                                                <a>Track Your Order</a>
                                            </li>
                                            <li>
                                                <a>Returns & Refunds</a>
                                            </li>
                                            <li>
                                                <a>Shipping & Delivery</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="block block-menu">
                                    <h2 class="block-title">Services</h2>
                                    <div class="block-content">
                                        <ul>
                                            <li>
                                                <a>Sale</a>
                                            </li>
                                            <li>
                                                <a>Quick Ship</a>
                                            </li>
                                            <li>
                                                <a>New Designs</a>
                                            </li>
                                            <li>
                                                <a>Accidental Fabric Protection</a>
                                            </li>
                                            <li>
                                                <a>Furniture Care</a>
                                            </li>
                                            <li>
                                                <a>Gift Cards</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="block block-newsletter m-b-30">
                                    <h2 class="block-title">Social media</h2>
                                    <div class="block-content">
                                        <div class="newsletter-text">Follow us on social media to stay updated with the latest information.</div>
                                    </div>
                                </div>
                                <div class="block block-social">
                                    <ul class="social-link">
                                        <li><a href="https://www.instagram.com/e_zed_/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/sameen-ka/"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://github.com/Sameen-K-A"><i class="fa fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="section-padding">
                <div class="section-container large">
                    <div class="block-widget-wrap">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                <div class="footer-left">
                                    <p class="copyright">Copyright © 2024. All Right Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <!-- Back Top button -->
    <div class="back-top button-show">
        <i class="arrow_carrot-up"></i>
    </div>

    <!-- Search -->
    <div class="search-overlay">
		<div class="wrapper-search">
            <div class="search-from">
				<div class="search-box">
                    <div class="d-flex">
                        <button id="searchsubmit" class="btn" onclick="search()">
                            <i class="icon-search"></i>
                        </button>
                        <input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
                            placeholder="Search...">
                        <div class="close-search" onclick="cancelsearch()">Cancel</div>
                    </div>
                    <h4 id="noproduct" style="display: none;">No products founded</h4>
                    <div id="prodatas">
                        
                    </div>
				</div>
            </div>
		</div>
	</div>

    <!-- Page Loader -->
   <div class="page-preloader">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>

    <script src="libs/popper/js/popper.min.js"></script>
    <script src="libs/jquery/js/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/slick/js/slick.min.js"></script>
    <script src="libs/countdown/js/jquery.countdown.min.js"></script>
    <script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
<script>

    const searchValue = document.getElementById("myInput")
    let clearTimer;
    searchValue.addEventListener("keyup", () => {
        document.getElementById("prodatas").innerHTML= "";
        document.getElementById("noproduct").style.display = "none"
        clearTimeout(clearTimer);
        clearTimer = setTimeout(() => {
            search();
        }, 1000)
    });
    function search(){
        const searchValue = document.getElementById("myInput").value
        $.ajax({
			url: "/search",
			method: "post",
			data: {
				searchValue
			},
			success: (response) => {
				if (response.status === "okay") {
					document.getElementById("prodatas").innerHTML= ""
                    displaySearch(response.products)
				} else {
					document.getElementById("noproduct").style.display = "block"
				}
			}
		})
    }

    function displaySearch(data) {
    const prodatasDiv = document.getElementById("prodatas");
    prodatasDiv.innerHTML = ""; // Clear previous search results
    
    data.forEach(product => {
        const productDiv = document.createElement("div");
        productDiv.classList.add("d-flex", "align-items-center");

        const imageDiv = document.createElement("div");
        imageDiv.style.width = "80px";
        imageDiv.style.height = "80px";
        imageDiv.style.backgroundColor = "rgb(255, 255, 255)";
        imageDiv.style.marginRight = "30px";
        imageDiv.innerHTML = `<img src="/uploads/${product.images[0]}" alt="product image">`;
        imageDiv.onclick = function() {
            window.location.href = `/productDetailspage?id=${product._id}`;
        };

        const infoDiv = document.createElement("div");
        infoDiv.style.display = "flex";
        infoDiv.style.flexDirection = "column";
        infoDiv.style.justifyContent = "center";
        infoDiv.innerHTML = `
            <h5 style="margin: 0;">${product.name}</h5>
            <p style="margin: 0;">₹${product.regularPrice}.00</p>
        `;

        productDiv.appendChild(imageDiv);
        productDiv.appendChild(infoDiv);
        prodatasDiv.appendChild(productDiv);

        const hr = document.createElement("hr");
        prodatasDiv.appendChild(hr);
    });
}


function cancelsearch(){
    document.getElementById("noproduct").style.display = "none"
    const prodatasDiv = document.getElementById("prodatas").innerHTML = "";
    const searchValue = document.getElementById("myInput").value =""
}

function catsort(category , i){
    var lis = document.querySelectorAll('.catli ul li');
    for (var j = 0; j < lis.length; j++) {
        lis[j].style.backgroundColor = "white";
        lis[j].style.color = "Black";
    }
    if(i){
        document.getElementById("allcat" + i).style.backgroundColor = "Black";
        document.getElementById("allcat" + i).style.color = "White";
    } else{
        document.getElementById("allcat").style.backgroundColor = "Black";
        document.getElementById("allcat").style.color = "White";
    }

    $.ajax({
    url: "/categorysort",
    method: "post",
    data: {
        category
    },
    success: (response) => {
        if (response.status === "okay") {
            const productListContainer = document.getElementById("ajaxproductDiv");
            productListContainer.innerHTML = ""; // Clear existing products
            
            let productRow; // Variable to hold the current row of products
            
                if (response.products.length === 0) {
                    const noProductsDiv = document.createElement("div");
                    noProductsDiv.classList.add("justify-content-center", "d-flex", "align-center");
                    noProductsDiv.style.marginBottom = "20px";
                    noProductsDiv.style.marginTop = "100px";
                    noProductsDiv.innerHTML = `
                        <div class="col-lg-8" style="width: 100%; height: 100px; background-color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center; border: 1px solid black;">
                            <p style="color: black; margin-top: 10px;">Sorry no products found</p>
                        </div>
                    `;
                    productListContainer.appendChild(noProductsDiv);
                } else {
                    response.products.forEach((product, index) => {
                        // Create a new row for every third product
                        if (index % 3 === 0) {
                            productRow = document.createElement("div");
                            productRow.classList.add("row");
                            productListContainer.appendChild(productRow);
                        }

                        const productEntry = document.createElement("div");
                        productEntry.classList.add("col-xl-4", "col-lg-4", "col-md-4", "col-sm-6", "mb-4"); // Add Bootstrap spacing class "mb-4" for margin-bottom
                        productEntry.innerHTML = `
                            <div class="block block-products loadmore">
                                <div class="block-widget-wrap">
                                    <div class="block-content">
                                        <div class="products-list grid">
                                            <div class="items">
                                                <div class="products-entry clearfix product-wapper">
                                                    <div class="products-thumb">
                                                        ${product.stock === 0 ? `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="outofstockbackground">
                                                                    <div class="outofstock text-danger d-flex justify-content-center align-items-center">
                                                                        Out of stock
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        ` : `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="product-thumb-hover">
                                                                    <img width="600" height="600" src="/uploads/${product.images[0]}" class="post-image" alt="">
                                                                    <img width="600" height="600" src="/uploads/${product.images[3]}" class="hover-image back" alt="">
                                                                </div>
                                                            </a>
                                                        `}
                                                    </div>
                                                    <div class="products-content">
                                                        <div class="contents text-center">
                                                            <h3 class="product-title">${product.name}</h3>
                                                            <span class="price">
                                                                <ins><span>₹${product.offerPrice}.00</span></ins>
                                                                <del aria-hidden="true"><span>₹${product.regularPrice}.00</span></del>
                                                            </span>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">
                                                                <ins><span style="color: black;">${product.offerPercentage}% off</span></ins>
                                                            </span>
                                                            <div class="rating" style="margin-top: 10px;">
                                                                ${product.avgStar === 0 ? `
                                                                    <div class="star star-0"></div>
                                                                ` : ''}
                                                                ${product.avgStar > 0 ? `
                                                                    <div class="star star-${product.avgStar}"></div>
                                                                ` : ''}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        productRow.appendChild(productEntry);
                    });
                }
            } 

        }
    });
}
function pricesort(pricerange){
    $.ajax({
    url: "/pricesort",
    method: "post",
    data: {
        pricerange
    },
    success: (response) => {
        if (response.status === "okay") {
            const productListContainer = document.getElementById("ajaxproductDiv");
            productListContainer.innerHTML = ""; // Clear existing products
            
            let productRow; // Variable to hold the current row of products
            
                if (response.products.length === 0) {
                    const noProductsDiv = document.createElement("div");
                    noProductsDiv.classList.add("justify-content-center", "d-flex", "align-center");
                    noProductsDiv.style.marginBottom = "20px";
                    noProductsDiv.style.marginTop = "100px";
                    noProductsDiv.innerHTML = `
                        <div class="col-lg-8" style="width: 100%; height: 100px; background-color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center; border: 1px solid black;">
                            <p style="color: black; margin-top: 10px;">Sorry no products found</p>
                        </div>
                    `;
                    productListContainer.appendChild(noProductsDiv);
                } else {
                    response.products.forEach((product, index) => {
                        // Create a new row for every third product
                        if (index % 3 === 0) {
                            productRow = document.createElement("div");
                            productRow.classList.add("row");
                            productListContainer.appendChild(productRow);
                        }

                        const productEntry = document.createElement("div");
                        productEntry.classList.add("col-xl-4", "col-lg-4", "col-md-4", "col-sm-6", "mb-4"); // Add Bootstrap spacing class "mb-4" for margin-bottom
                        productEntry.innerHTML = `
                            <div class="block block-products loadmore">
                                <div class="block-widget-wrap">
                                    <div class="block-content">
                                        <div class="products-list grid">
                                            <div class="items">
                                                <div class="products-entry clearfix product-wapper">
                                                    <div class="products-thumb">
                                                        ${product.stock === 0 ? `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="outofstockbackground">
                                                                    <div class="outofstock text-danger d-flex justify-content-center align-items-center">
                                                                        Out of stock
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        ` : `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="product-thumb-hover">
                                                                    <img width="600" height="600" src="/uploads/${product.images[0]}" class="post-image" alt="">
                                                                    <img width="600" height="600" src="/uploads/${product.images[3]}" class="hover-image back" alt="">
                                                                </div>
                                                            </a>
                                                        `}
                                                    </div>
                                                    <div class="products-content">
                                                        <div class="contents text-center">
                                                            <h3 class="product-title">${product.name}</h3>
                                                            <span class="price">
                                                                <ins><span>₹${product.offerPrice}.00</span></ins>
                                                                <del aria-hidden="true"><span>₹${product.regularPrice}.00</span></del>
                                                            </span>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">
                                                                <ins><span style="color: black;">${product.offerPercentage}% off</span></ins>
                                                            </span>
                                                            <div class="rating" style="margin-top: 10px;">
                                                                ${product.avgStar === 0 ? `
                                                                    <div class="star star-0"></div>
                                                                ` : ''}
                                                                ${product.avgStar > 0 ? `
                                                                    <div class="star star-${product.avgStar}"></div>
                                                                ` : ''}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        productRow.appendChild(productEntry);
                    });
                }
            } 
        }
    });
}

function ratingsort(star){
    $.ajax({
    url: "/ratingsort",
    method: "post",
    data: {
        star
    },
    success: (response) => {
        if (response.status === "okay") {
            const productListContainer = document.getElementById("ajaxproductDiv");
            productListContainer.innerHTML = ""; // Clear existing products
            
            let productRow; // Variable to hold the current row of products
            
                if (response.products.length === 0) {
                    const noProductsDiv = document.createElement("div");
                    noProductsDiv.classList.add("justify-content-center", "d-flex", "align-center");
                    noProductsDiv.style.marginBottom = "20px";
                    noProductsDiv.style.marginTop = "100px";
                    noProductsDiv.innerHTML = `
                        <div class="col-lg-8" style="width: 100%; height: 100px; background-color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center; border: 1px solid black;">
                            <p style="color: black; margin-top: 10px;">Sorry no products found</p>
                        </div>
                    `;
                    productListContainer.appendChild(noProductsDiv);
                } else {
                    response.products.forEach((product, index) => {
                        // Create a new row for every third product
                        if (index % 3 === 0) {
                            productRow = document.createElement("div");
                            productRow.classList.add("row");
                            productListContainer.appendChild(productRow);
                        }

                        const productEntry = document.createElement("div");
                        productEntry.classList.add("col-xl-4", "col-lg-4", "col-md-4", "col-sm-6", "mb-4"); // Add Bootstrap spacing class "mb-4" for margin-bottom
                        productEntry.innerHTML = `
                            <div class="block block-products loadmore">
                                <div class="block-widget-wrap">
                                    <div class="block-content">
                                        <div class="products-list grid">
                                            <div class="items">
                                                <div class="products-entry clearfix product-wapper">
                                                    <div class="products-thumb">
                                                        ${product.stock === 0 ? `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="outofstockbackground">
                                                                    <div class="outofstock text-danger d-flex justify-content-center align-items-center">
                                                                        Out of stock
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        ` : `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="product-thumb-hover">
                                                                    <img width="600" height="600" src="/uploads/${product.images[0]}" class="post-image" alt="">
                                                                    <img width="600" height="600" src="/uploads/${product.images[3]}" class="hover-image back" alt="">
                                                                </div>
                                                            </a>
                                                        `}
                                                    </div>
                                                    <div class="products-content">
                                                        <div class="contents text-center">
                                                            <h3 class="product-title">${product.name}</h3>
                                                            <span class="price">
                                                                <ins><span>₹${product.offerPrice}.00</span></ins>
                                                                <del aria-hidden="true"><span>₹${product.regularPrice}.00</span></del>
                                                            </span>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">
                                                                <ins><span style="color: black;">${product.offerPercentage}% off</span></ins>
                                                            </span>
                                                            <div class="rating" style="margin-top: 10px;">
                                                                ${product.avgStar === 0 ? `
                                                                    <div class="star star-0"></div>
                                                                ` : ''}
                                                                ${product.avgStar > 0 ? `
                                                                    <div class="star star-${product.avgStar}"></div>
                                                                ` : ''}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        productRow.appendChild(productEntry);
                    });
                }
            } 
        }
    });
}

function nameSort(value){
    var lis = document.querySelectorAll('.nameli ul li');
    for (var j = 0; j < lis.length; j++) {
        lis[j].style.backgroundColor = "white";
        lis[j].style.color = "Black";
    }
    if(value === "default"){
        document.getElementById("default").style.backgroundColor = "black"
        document.getElementById("default").style.color = "white"
    }
    if(value === "ascending"){
        document.getElementById("ascending").style.backgroundColor = "black"
        document.getElementById("ascending").style.color = "white"
    }
    if(value === "descending"){
        document.getElementById("descending").style.backgroundColor = "black"
        document.getElementById("descending").style.color = "white"
    }
    $.ajax({
        url : "/nameSort",
        method : "post",
        data : {
            value
        },
        success : (response)=>{
            if (response.status === "okay") {
            const productListContainer = document.getElementById("ajaxproductDiv");
            productListContainer.innerHTML = ""; // Clear existing products
            
            let productRow; // Variable to hold the current row of products
            
                if (response.products.length === 0) {
                    const noProductsDiv = document.createElement("div");
                    noProductsDiv.classList.add("justify-content-center", "d-flex", "align-center");
                    noProductsDiv.style.marginBottom = "20px";
                    noProductsDiv.style.marginTop = "100px";
                    noProductsDiv.innerHTML = `
                        <div class="col-lg-8" style="width: 100%; height: 100px; background-color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center; border: 1px solid black;">
                            <p style="color: black; margin-top: 10px;">Sorry no products found</p>
                        </div>
                    `;
                    productListContainer.appendChild(noProductsDiv);
                } else {
                    response.products.forEach((product, index) => {
                        // Create a new row for every third product
                        if (index % 3 === 0) {
                            productRow = document.createElement("div");
                            productRow.classList.add("row");
                            productListContainer.appendChild(productRow);
                        }

                        const productEntry = document.createElement("div");
                        productEntry.classList.add("col-xl-4", "col-lg-4", "col-md-4", "col-sm-6", "mb-4"); // Add Bootstrap spacing class "mb-4" for margin-bottom
                        productEntry.innerHTML = `
                            <div class="block block-products loadmore">
                                <div class="block-widget-wrap">
                                    <div class="block-content">
                                        <div class="products-list grid">
                                            <div class="items">
                                                <div class="products-entry clearfix product-wapper">
                                                    <div class="products-thumb">
                                                        ${product.stock === 0 ? `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="outofstockbackground">
                                                                    <div class="outofstock text-danger d-flex justify-content-center align-items-center">
                                                                        Out of stock
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        ` : `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="product-thumb-hover">
                                                                    <img width="600" height="600" src="/uploads/${product.images[0]}" class="post-image" alt="">
                                                                    <img width="600" height="600" src="/uploads/${product.images[3]}" class="hover-image back" alt="">
                                                                </div>
                                                            </a>
                                                        `}
                                                    </div>
                                                    <div class="products-content">
                                                        <div class="contents text-center">
                                                            <h3 class="product-title">${product.name}</h3>
                                                            <span class="price">
                                                                <ins><span>₹${product.offerPrice}.00</span></ins>
                                                                <del aria-hidden="true"><span>₹${product.regularPrice}.00</span></del>
                                                            </span>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">
                                                                <ins><span style="color: black;">${product.offerPercentage}% off</span></ins>
                                                            </span>
                                                            <div class="rating" style="margin-top: 10px;">
                                                                ${product.avgStar === 0 ? `
                                                                    <div class="star star-0"></div>
                                                                ` : ''}
                                                                ${product.avgStar > 0 ? `
                                                                    <div class="star star-${product.avgStar}"></div>
                                                                ` : ''}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        productRow.appendChild(productEntry);
                    });
                }
            } 
        }
    })
}




function dateSort(value){
    var lis = document.querySelectorAll('.dateli ul li');
    for (var j = 0; j < lis.length; j++) {
        lis[j].style.backgroundColor = "white";
        lis[j].style.color = "Black";
    }
    if(value === "default"){
        document.getElementById("datedefault").style.backgroundColor = "black"
        document.getElementById("datedefault").style.color = "white"
    }
    if(value === "new"){
        document.getElementById("new").style.backgroundColor = "black"
        document.getElementById("new").style.color = "white"
    }
    if(value === "old"){
        document.getElementById("old").style.backgroundColor = "black"
        document.getElementById("old").style.color = "white"
    }
    $.ajax({
        url : "/dateSort",
        method : "post",
        data : {
            value
        },
        success : (response)=>{
            if (response.status === "okay") {
            const productListContainer = document.getElementById("ajaxproductDiv");
            productListContainer.innerHTML = ""; // Clear existing products
            
            let productRow; // Variable to hold the current row of products
            
                if (response.products.length === 0) {
                    const noProductsDiv = document.createElement("div");
                    noProductsDiv.classList.add("justify-content-center", "d-flex", "align-center");
                    noProductsDiv.style.marginBottom = "20px";
                    noProductsDiv.style.marginTop = "100px";
                    noProductsDiv.innerHTML = `
                        <div class="col-lg-8" style="width: 100%; height: 100px; background-color: rgb(255, 255, 255); display: flex; justify-content: center; align-items: center; border: 1px solid black;">
                            <p style="color: black; margin-top: 10px;">Sorry no products found</p>
                        </div>
                    `;
                    productListContainer.appendChild(noProductsDiv);
                } else {
                    response.products.forEach((product, index) => {
                        // Create a new row for every third product
                        if (index % 3 === 0) {
                            productRow = document.createElement("div");
                            productRow.classList.add("row");
                            productListContainer.appendChild(productRow);
                        }

                        const productEntry = document.createElement("div");
                        productEntry.classList.add("col-xl-4", "col-lg-4", "col-md-4", "col-sm-6", "mb-4"); // Add Bootstrap spacing class "mb-4" for margin-bottom
                        productEntry.innerHTML = `
                            <div class="block block-products loadmore">
                                <div class="block-widget-wrap">
                                    <div class="block-content">
                                        <div class="products-list grid">
                                            <div class="items">
                                                <div class="products-entry clearfix product-wapper">
                                                    <div class="products-thumb">
                                                        ${product.stock === 0 ? `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="outofstockbackground">
                                                                    <div class="outofstock text-danger d-flex justify-content-center align-items-center">
                                                                        Out of stock
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        ` : `
                                                            <a href="/productDetailspage?id=${product._id}">
                                                                <div class="product-thumb-hover">
                                                                    <img width="600" height="600" src="/uploads/${product.images[0]}" class="post-image" alt="">
                                                                    <img width="600" height="600" src="/uploads/${product.images[3]}" class="hover-image back" alt="">
                                                                </div>
                                                            </a>
                                                        `}
                                                    </div>
                                                    <div class="products-content">
                                                        <div class="contents text-center">
                                                            <h3 class="product-title">${product.name}</h3>
                                                            <span class="price">
                                                                <ins><span>₹${product.offerPrice}.00</span></ins>
                                                                <del aria-hidden="true"><span>₹${product.regularPrice}.00</span></del>
                                                            </span>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">
                                                                <ins><span style="color: black;">${product.offerPercentage}% off</span></ins>
                                                            </span>
                                                            <div class="rating" style="margin-top: 10px;">
                                                                ${product.avgStar === 0 ? `
                                                                    <div class="star star-0"></div>
                                                                ` : ''}
                                                                ${product.avgStar > 0 ? `
                                                                    <div class="star star-${product.avgStar}"></div>
                                                                ` : ''}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        productRow.appendChild(productEntry);
                    });
                }
            } 
        }
    })
}
</script>
</html>