<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from caketheme.com/html/ruper/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:33 GMT -->

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">

    <!-- Dependency Styles -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
    <link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
    <link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

    <!-- Google Web Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
        rel="stylesheet">
</head>
<style>
    .outofstock {
        position: absolute;
        top: 48%;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 239, 239, 0.824) 18%, rgb(255, 236, 236) 53%, rgba(255, 239, 239, 0.877) 82%, rgba(255, 255, 255, 0) 100%);
        z-index: 9998;
    }

    .outofstockbackground {
        position: absolute;
        width: 100%;
        height: 108%;
        background-color: rgba(255, 255, 255, 0.533);
        z-index: 9997;
        margin-top: -25px;
    }
</style>

<body class="home home-2 title-2">
    <div id="page" class="hfeed page-wrapper">
        <header id="site-header" class="site-header header-v2">
            <div class="header-mobile">
                <div class="section-padding">
                    <div class="section-container large">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
                                <div class="navbar-header">
                                    <button type="button" id="show-megamenu" class="navbar-toggle"></button>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
                                <div class="site-logo">
                                    <a href="/">
                                        <img width="400" height="79" src="media/logo.png"
                                            alt="Ruper – Furniture HTML Theme" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-mobile-fixed">
                    <!-- Shop -->
                    <div class="shop-page">
                        <a href="/"><i class="wpb-icon-shop"></i></a>
                    </div>

                    <!-- Login -->
                    <div class="my-account">
                        <div class="login-header">
                            <a href="/userProfile"><i class="wpb-icon-user"></i></a>
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="search-box">
                        <div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
                    </div>

                    <!-- Wishlist -->
                    <div class="wishlist-box">
                        <a href="shop-wishlist.html"><i class="wpb-icon-heart"></i></a>
                    </div>
                </div>
            </div>

            <div class="header-desktop">
                <div class="header-wrapper">
                    <div class="section-padding">
                        <div class="section-container large p-l-r">
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
                                    <div class="site-navigation">
                                        <nav id="main-navigation">
                                            <ul id="menu-main-menu" class="menu">
                                                <li class="level-0 menu-item">
                                                    <a href="/"><span class="menu-item-text">home</span></a>
                                                </li>
                                                <li class="level-0 menu-item">
                                                    <a href="/allproduct"><span class="menu-item-text">All</span></a>
                                                </li>
                                                <li class="level-0 menu-item">
                                                    <a href="page-contact.html"><span class="menu-item-text">about us
                                                        </span></a>
                                                </li>
                                                <li class="level-0 menu-item">
                                                    <a href="page-contact.html"><span
                                                            class="menu-item-text">Contact</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
                                    <div class="site-logo">
                                        <a href="index2.html">
                                            <img width="400" height="79" src="media/logo.png"
                                                alt="Ruper – Furniture HTML Theme" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
                                    <div class="header-page-link">
                                        <!-- Search -->
                                        <div class="search-box">
                                            <div class="search-toggle"><i class="icon-search"></i></div>
                                        </div>
                                        <!-- Wishlist -->
                                        <div class="wishlist-box">
                                            <a href="shop-wishlist.html"><i class="icon-heart"></i></a>
                                        </div>
                                        <!-- Cart -->
                                        <div class="mini-cart top-cart wishlist-box">
                                            <a class="cart-icon" href="/cart">
                                                <div class="icons-cart"><i class="icon-large-paper-bag"></i>
                                            </a>
                                        </div>

                                    </div>
                                    <!-- profile -->
                                    <div class="wishlist-box">
                                        <a href="/userprofilepage"><i class="wpb-icon-user"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="site-main" class="site-main">
            <div id="main-content" class="main-content">
                <div id="primary" class="content-area">
                    <div id="content" class="site-content" role="main">
                        <section class="section section-padding m-b-15">
                            <div class="section-container large">
                                <div class="block block-sliders layout-2 nav-center">
                                    <div class="block-widget-wrap">
                                        <div class="slick-sliders" data-autoplay="true" data-dots="true"
                                            data-nav="false" data-columns4="1" data-columns3="1" data-columns2="1"
                                            data-columns1="1" data-columns1440="1" data-columns="1">
                                            <div class="item slick-slide">
                                                <div class="item-content">
                                                    <div class="content-image">
                                                        <img width="1920" height="1080" src="media/slider/5.jpg"
                                                            alt="Image Slider">
                                                    </div>
                                                    <div class="item-info horizontal-start vertical-middle">
                                                        <div class="content">
                                                            <div class="subtitle-slider">SALE UP TO 30% OFF</div>
                                                            <h2 class="title-slider">Accessories</h2>
                                                            <a class="button-slider button-white"
                                                                href="shop-grid-left.html">SHOP NOW</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item slick-slide">
                                                <div class="item-content">
                                                    <div class="content-image">
                                                        <img width="1920" height="1080" src="media/slider/4.jpg"
                                                            alt="Image Slider">
                                                    </div>
                                                    <div class="item-info horizontal-start vertical-middle">
                                                        <div class="content">
                                                            <div class="subtitle-slider">SALE UP TO 30% OFF</div>
                                                            <h2 class="title-slider">Outdoor Chair</h2>
                                                            <a class="button-slider button-white"
                                                                href="shop-grid-left.html">SHOP NOW</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item slick-slide">
                                                <div class="item-content">
                                                    <div class="content-image">
                                                        <img width="1920" height="1080" src="media/slider/6.jpg"
                                                            alt="Image Slider">
                                                    </div>
                                                    <div class="item-info horizontal-start vertical-middle">
                                                        <div class="content">
                                                            <div class="subtitle-slider">SALE UP TO 30% OFF</div>
                                                            <h2 class="title-slider">Kitchen Sale</h2>
                                                            <a class="button-slider button-white"
                                                                href="shop-grid-left.html">SHOP NOW</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                        <div class="col-lg-12">
                            <div class="row  d-flex justify-content-center" style="gap: 50px;">
                                <div class="col-lg-2 "
                                    style="background-color: rgb(244, 244, 244); padding: 20px; margin-left: 20px; margin-bottom: 20px;">
                                    <h3 class="text-center">Filter</h3>
                                    <hr>
                                    <p class="text-dark text-center" style="margin-top: 30px;">Price range</p>
                                    <ul style="font-size: small;">
                                        <a href="/pricehightolow">
                                            <li>High to Low</li>
                                        </a>
                                        <a href="/pricelowtohigh">
                                            <li>Low to High</li>
                                        </a>
                                    </ul>
                                    <hr>
                                    <p class="text-dark text-center" style="margin-top: 30px;">Rating</p>
                                    <ul style="font-size: small;">
                                        <a href="/fiverated"><li>★ ★ ★ ★ ★</li></a>
                                        <a href="/fourrated"><li>★ ★ ★ ★ ☆</li></a>
                                        <a href="/threerated"><li>★ ★ ★ ☆ ☆</li></a>
                                        <a href="/tworated"><li>★ ★ ☆ ☆ ☆</li></a>
                                        <a href="/onerated"><li>★ ☆ ☆ ☆ ☆</li></a>

                                    </ul>
                                    <hr>
                                    <!-- <p class="text-dark text-center" style="margin-top: 30px;">Top category</p>
                                    <ul style="font-size: small;">
                                        <a href="/category?name=livingroom"><li>Living Room</li></a>
                                        <a href="/category?name=bedroom"><li>Bedroom</li></a>
                                        <a href="/category?name=kitchen"><li>Kitchen</li></a>
                                        <a href="/category?name=dining"><li>Dining</li></a>
                                    </ul>
                                    <hr> -->
                                    <p class="text-dark text-center" style="margin-top: 30px;">Sort</p>
                                    <ul style="font-size: small;">
                                        <a href="/nameascending">
                                            <li>aA to zZ</li>
                                        </a>
                                        <a href="/namedescending">
                                            <li>zZ to aA</li>
                                        </a>

                                    </ul>
                                    <hr>
                                    <p class="text-dark text-center" style="margin-top: 30px;">Date</p>
                                    <ul style="font-size: small;">
                                        <a href="/leatest">
                                            <li>Leatest products</li>
                                        </a>
                                        <a href="/oldest">
                                            <li>Oldest products</li>
                                        </a>

                                    </ul>
                                    <hr>
                                </div>
                                <section class="section section-padding m-b-70 col-lg-9">
                                    <% if (productDetails.length === 0) { %>
                                        <div class="justify-content-center d-flex align-center"
												style="margin-bottom: 20px; margin-top: 100px;">
												<div class="col-lg-8" style="width: 100%; height: 100px; background-color:
																	rgb(255, 255, 255); display: flex; justify-content: center;
																	align-items: center; border: 1px solid black;">
													<p style="color: black; margin-top: 10px;">Sorry no products found</p>
												</div>
											</div>
                                    <% } else { %>
                                        <div class="section-container large">
                                            <div class="block block-products loadmore">
                                                <div class="block-widget-wrap">
                                                    <div class="block-content">
                                                        <div class="products-list grid">
                                                            <div class="row">
                                                                
                                                                
                                                                <% for( let i=0; i < productDetails.length; i++ ) { %>
                                                                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6">
    
                                                                        <div class="items">
    
                                                                            <div
                                                                                class="products-entry clearfix product-wapper">
                                                                                <div class="products-thumb">
    
                                                                                    <% if (productDetails[i].stock===0) { %>
                                                                                        <a
                                                                                            href="/productDetailspage?id=<%= productDetails[i]._id %>">
                                                                                            <div
                                                                                                class="outofstockbackground">
                                                                                                <div
                                                                                                    class="outofstock text-danger d-flex justify-content-center align-items-center">
                                                                                                    Out of stock
                                                                                                </div>
                                                                                            </div>
                                                                                        </a>
                                                                                        <% } %>
                                                                                            <div class="product-thumb-hover">
                                                                                                <a href="/productDetailspage?id=<%= productDetails[i]._id %>">
                                                                                                    <img width="600"
                                                                                                        height="600"
                                                                                                        src="/uploads/<%= productDetails[i].images[0]%>"
                                                                                                        class="post-image"
                                                                                                        alt="">
                                                                                                    <img width="600"
                                                                                                        height="600"
                                                                                                        src="/uploads/<%= productDetails[i].images[3]%>"
                                                                                                        class="hover-image back"
                                                                                                        alt="">
                                                                                                </a>
                                                                                            </div>
                                                                                    <!-- <div class="product-button" style="z-index: 9999;">
                                                                                        <div class="btn-add-to-cart" data-title="Add to cart">
                                                                                            <a class="product-btn">Add to cart</a>
                                                                                        </div>
                                                                                        <div data-title="Add to wishlist">
                                                                                            <button class="product-btn">Add to wishlist</button>
                                                                                        </div>       
                                                                                    </div> -->
                                                                                </div>
                                                                                <div class="products-content">
                                                                                    <div class="contents text-center">
                                                                                        <h3 class="product-title">
                                                                                            <%= productDetails[i].name %>
                                                                                        </h3>
                                                                                        <span class="price">
                                                                                            <del aria-hidden="true"><span>₹
                                                                                                    <%= productDetails[i].regularPrice
                                                                                                        %>
                                                                                                </span></del>
                                                                                            <ins><span>₹<%=
                                                                                                        productDetails[i].regularPrice
                                                                                                        %></span></ins>
                                                                                            <div class="rating" style="margin-top: 10px;">
                                                                                                <% if (productDetails[i].avgStar === 1) { %>
                                                                                                    <div class="star star-1"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 2) { %>
                                                                                                    <div class="star star-2"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 3) { %>
                                                                                                    <div class="star star-3"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 4) { %>
                                                                                                    <div class="star star-4"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 5) { %>
                                                                                                    <div class="star star-5"></div>
                                                                                                <% } else if (productDetails[i].avgStar === 0) { %>
                                                                                                    <div class="star star-0"></div>
                                                                                                <% } %>
                                                                                            </div>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% } %>
                                                                </div>
                                                                <!-- <nav class="pagination">
                                                                    <ul class="page-numbers">
                                                                        <li><a class="prev page-numbers" href="#">Previous</a></li>
                                                                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                                                                        <li><a class="page-numbers" href="#">2</a></li>
                                                                        <li><a class="page-numbers" href="#">3</a></li>
                                                                        <li><a class="next page-numbers" href="#">Next</a></li>
                                                                    </ul>
                                                                </nav> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </section>
                            </div>
                        </div>
                        </section>
                    </div>

                </div><!-- #content -->
            </div><!-- #primary -->
        </div><!-- #main-content -->
    </div>
    

    <footer id="site-footer" class="site-footer background">
        <div class="footer">
            <div class="section-padding">
                <div class="section-container large">
                    <div class="block-widget-wrap">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="block block-menu">
                                    <h2 class="block-title">About</h2>
                                    <div class="block-content">
                                        <ul>
                                            <li>
                                                <a href="page-about.html">Our Story</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">Visit Melbourne Studio</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">Visit Sydney Studio</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">Visit Brisbane Studio [Closed]</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">Design</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">How Ruper Works</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="block block-menu">
                                    <h2 class="block-title">Help</h2>
                                    <div class="block-content">
                                        <ul>
                                            <li>
                                                <a href="page-faq.html">Contact & FAQ</a>
                                            </li>
                                            <li>
                                                <a href="page-faq.html">Track Your Order</a>
                                            </li>
                                            <li>
                                                <a href="page-faq.html">Returns & Refunds</a>
                                            </li>
                                            <li>
                                                <a href="page-faq.html">Shipping & Delivery</a>
                                            </li>
                                            <li>
                                                <a href="page-faq.html">Lead Times</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="block block-menu">
                                    <h2 class="block-title">Services</h2>
                                    <div class="block-content">
                                        <ul>
                                            <li>
                                                <a href="page-about.html">Sale</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">Quick Ship</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">New Designs</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">Accidental Fabric Protection</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">Furniture Care</a>
                                            </li>
                                            <li>
                                                <a href="page-about.html">Gift Cards</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="block block-newsletter m-b-30">
                                    <h2 class="block-title">Newsletter</h2>
                                    <div class="block-content">
                                        <div class="newsletter-text">Enter your email below to be the first to know
                                            about new collections and product launches.</div>
                                        <form action="#" method="post" class="newsletter-form">
                                            <input type="email" class="bg-white" name="your-email" value="" size="40"
                                                placeholder="Email address">
                                            <span class="btn-submit">
                                                <input type="submit" value="Subscribe">
                                            </span>
                                        </form>
                                    </div>
                                </div>

                                <div class="block block-social">
                                    <ul class="social-link">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="section-padding">
                <div class="section-container large">
                    <div class="block-widget-wrap">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-left">
                                    <p class="copyright">Copyright © 2022. All Right Reserved</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-right">
                                    <div class="block block-image">
                                        <img width="309" height="32" src="media/payments.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <!-- Back Top button -->
    <div class="back-top button-show">
        <i class="arrow_carrot-up"></i>
    </div>

    <!-- Search -->
    <div class="search-overlay">
		<div class="close-search"></div>
		<div class="wrapper-search">
			<form role="search" method="get" class="search-from ajax-search" action="#">
				<div class="search-box">
					<button id="searchsubmit" class="btn" type="submit">
						<i class="icon-search"></i>
					</button>
					<input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
						placeholder="Search..." onkeyup="search()">
					<div class="search-top">
						<div class="close-search">Cancel</div>
					</div>
                    <% for( let i = 0; i < productDetails.length; i++ ) { %>
                        <div class="d-flex align-items-center">
                            <div id="imageDiv" style="width: 80px; height: 80px; background-color: rgb(255, 255, 255); margin-right: 30px;">
                                <img src="/uploads/bd43f791-3c4c-4822-8f51-5093de8f372c.jpg" alt="product image">
                            </div>
                            <div style="display: flex; flex-direction: column; justify-content: center;">
                                <h5 style="margin: 0;">Product name</h5>
                                <p style="margin: 0;">Product price</p>
                            </div>
                        </div>                                       
                        <hr>
                    <% } %>
				</div>
			</form>
		</div>
	</div>

    <!-- Page Loader -->
   <div class="page-preloader">
        <div class="loader">
            <div></div>
            <div></div>
        </div>
    </div>

    <script src="libs/popper/js/popper.min.js"></script>
    <script src="libs/jquery/js/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/slick/js/slick.min.js"></script>
    <script src="libs/countdown/js/jquery.countdown.min.js"></script>
    <script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
<script>
    function search(){
        const searchValue = document.getElementById("myInput").value;
        $.ajax({
			url: "/search",
			method: "post",
			data: {
				searchValue
			},
			success: (response) => {
				if (response.status === "okay") {
					
				} else {
					
				}
			}
		})
    }
</script>
</html>