<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from caketheme.com/html/ruper/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:33 GMT -->

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FURNIX</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">


    <!-- Dependency Styles -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
    <link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
    <link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
    <link rel="stylesheet" href="libs/slider/css/jslider.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

    <!-- Google Web Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
        rel="stylesheet">
</head>
<style>
    .custom-button1 {
        width: 100px;
        height: 40px;
        padding: 5px;
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 14px;
        border-radius: 50px;
    }

    .custom-button2 {
        width: 100px;
        height: 40px;
        padding: 5px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 50px;
    }
    .swal-custom {
        background: linear-gradient(94deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8240546218487395) 26%, rgba(0, 0, 0, 1) 53%, rgba(0, 0, 0, 0.8492647058823529) 79%, rgba(227, 227, 227, 0) 100%);
        color: #ffffff;
        width: 100%;
    }

    .swal-custom-ok-btn {
        color: black !important;
    }

    .cancelorder {
        background-color: red;
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 30px;
        color: rgb(255, 255, 255);
    }

    .ordered {
        background-color: rgb(255, 234, 0);
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 30px;
        color: rgb(0, 0, 0);
    }

    .shippedorder {
        background-color: rgb(136, 255, 0);
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 30px;
        color: rgb(0, 0, 0);
    }

    .bttn {
        background-color: rgb(0, 0, 0);
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 30px;
        color: rgb(255, 255, 255);
    }
    .addbtn {
        background-color: black;
        color: white;
        width: 170px;
        height: 40px;
        font-size: 15px;
    }

    .cancelbtn {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: 1px solid black;
        width: 170px;
        height: 40px;
        font-size: 15px;
    }
    .cancelbtn4 {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        width: 140px;
        height: 40px;
        font-size: 15px;
        border-radius: 50px;
    }

    .review-order-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .editDeletebtn {
        background-color: white;
        text-align: center;
        border: 1px solid black;
        border-radius: 50px;
        width: 70px;
        font-size: small;
    }
</style>

<body class="shop">
    <div id="page" class="hfeed page-wrapper">
        <header id="site-header" class="site-header header-v2">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container large">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="/">
										<img width="400" height="79" src="media/logo.png"
											alt="Ruper – Furniture HTML Theme" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="/"><i class="wpb-icon-shop"></i></a>
					</div>

					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="/userProfile"><i class="wpb-icon-user"></i></a>
						</div>
					</div>

					<!-- Search -->
					<div class="search-box">
						<div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
					</div>

					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="/wishlist"><i class="wpb-icon-heart"></i></a>
					</div>
				</div>
			</div>

			<div class="header-desktop"
				style="background: linear-gradient(94deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 53%, rgba(227,227,227,1) 100%);">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container large p-l-r">
							<div class="row">
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span class="menu-item-text">about us
														</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span
															class="menu-item-text">Contact</span></a>
												</li>

											</ul>
										</nav>
									</div>
								</div>

								<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>

								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">

										<!-- Search -->
										<div class="search-box">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>

										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
										</div>

										<!-- Cart -->
										<div class="mini-cart top-cart wishlist-box">
											<a class="cart-icon" href="/cart">
												<div class="icons-cart"><i class="icon-large-paper-bag"></i>
											</a>
										</div>

									</div>

									<!-- profile -->
									<div class="wishlist-box">
										<a href="/userprofilepage"><i class="wpb-icon-user"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

        <div id="site-main" class="site-main">
            <div id="main-content" class="main-content">
                <div id="primary" class="content-area">
                    <div id="content" class="site-content" role="main">
                        <div class="section-padding" style="margin-top: 100px;">
                            <div class="section-container p-l-r">
                                <div class="shop-cart">
                                    <div class="row justify-content-center  ">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                            <div class="table-responsive">
                                                <table class="cart-items table" cellspacing="0">
                                                    <thead style="background-color: rgb(219, 219, 219);">
                                                        <tr>
                                                            <th class="product-thumbnail text-dark">Product
                                                            </th>
                                                            <th class="product-price text-dark text-center">
                                                                Date</th>
                                                            <th class="product-price text-dark text-center">
                                                                Time</th>
                                                            <th class="product-price text-dark text-center">
                                                                Address</th>
                                                            <th class="product-price text-dark text-center">
                                                                Payment</th>
                                                            <th class="product-price text-dark text-center">
                                                                Price</th>
                                                            <th class="product-quantity text-dark text-center">
                                                                Quantity</th>
                                                            <th class="product-subtotal text-dark text-center">
                                                                Subtotal</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for (let i=0; i < orderInfodata.product.length; i++) { %>
                                                            <tr class="cart-item align-right">
                                                                <td class="product-thumbnail text-center">
                                                                    <a><img width="600" height="600"
                                                                            src="/uploads/<%= orderInfodata.product[i].images[0] %>"
                                                                            class="product-image"
                                                                            alt="product image"></a>
                                                                    <div class="product-name">
                                                                        <a>
                                                                            <%= orderInfodata.product[i].name %>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                <td class="product-price text-center">
                                                                    <div class="product-name">
                                                                        <a>
                                                                            <%= orderInfodata.date %>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                <td class="product-price text-center">
                                                                    <div class="product-name">
                                                                        <a>
                                                                            <%= orderInfodata.time %>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                <td class="product-price text-center">
                                                                    <div class="product-name">
                                                                        <a>
                                                                            <%= orderInfodata.address.name %>
                                                                        </a><br>
                                                                        <a>
                                                                            <%= orderInfodata.address.address %>
                                                                        </a><br>
                                                                        <a>
                                                                            <%= orderInfodata.address.district %>
                                                                        </a>, <a>
                                                                            <%= orderInfodata.address.state %>
                                                                        </a>, <a>
                                                                            <%= orderInfodata.address.pin %>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                <td class="product-price text-center">
                                                                    <div class="product-name">
                                                                        <a>
                                                                            <%= orderInfodata.paymentMethod %>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                <td class="product-price text-center">
                                                                    <div class="product-name">
                                                                        <a>₹<%= orderInfodata.product[i].regularPrice %>
                                                                                .00</a>
                                                                    </div>
                                                                </td>
                                                                <td class="product-price text-center">
                                                                    <div class="product-name">
                                                                        <a>
                                                                            <%= orderInfodata.product[i].cartQty %>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                <td class="product-price text-center">
                                                                    <div class="product-name">
                                                                        <a>
                                                                            <%= orderInfodata.product[i].regularPrice *
                                                                                orderInfodata.product[i].cartQty %>.00
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                        


                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="col-xl-3 col-lg-3 col-md-5 col-5" style="margin-top: 30px;">
                                            <div class="table-responsive">
                                                <table class="cart-items table" cellspacing="0">
                                                    <thead>
                                                        <tr style="background-color: rgb(219, 219, 219);">
                                                            <th class="product-thumbnail text-dark text-center" colspan="2">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="cart-item align-right">
                                                            <td style="margin: auto;">
                                                                <div class="product-name">
                                                                    <a>Sub total</a><br>
                                                                    <% if (orderInfodata.deliveredDateTime !== "false") { %>
                                                                        <a>Delivered time</a><br>
                                                                    <% } %>
                                                                    <a>Shipping</a><br><br>
                                                                    <p style="font-size: 20px; color: black;">Total</p>
                                                                </div>
                                                            </td>
                                                            <td style="margin: auto;">
                                                                <div class="product-name">
                                                                    <a>₹<%= orderInfodata.total %>.00</a><br>
                                                                    <% if (orderInfodata.deliveredDateTime !== "false") { %>
                                                                        <a><%= orderInfodata.deliveredDateTime %></a><br>
                                                                    <% } %>
                                                                    <a>free shipping</a><br><br>
                                                                    <p style="font-size: 20px; color: black;"><b>₹<%= orderInfodata.total %>.00</b></p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="justify-content-center align-items-center d-flex">
                                                    <% if (orderInfodata.status != "Cancelled" && orderInfodata.status != "Delivered" && orderInfodata.status != "Return order processing" && orderInfodata.status != "Returned order recieved" && orderInfodata.status != "Return order cancel" ) { %>
                                                        <button style="background-color: rgb(0, 0, 0); width: 50%; color: #ffffff; border-radius: 50px; height: 35px;" onclick="cancelorder('<%= orderInfodata._id %>')">Cancel order</button>
                                                    <% } %>
                                                    <% if (orderInfodata.status === "Delivered" && orderInfodata.status === "Returned order recieved") { %>
                                                    <% } %>
                                                    <% if (orderInfodata.status === "Return order cancel") { %>
                                                        <button style="background-color: #ffffff; border: 1px solid rgb(255, 0, 0); width: 50%; border-radius: 50px; height: 35px;" >Return order cancelled</button>
                                                    <% } %>
                                                    <% if (orderInfodata.status === "Cancelled") { %>
                                                        <button style="background-color: #ffffff; border: 1px solid rgb(255, 0, 0); width: 50%; border-radius: 50px; height: 35px;" >Order cancelled</button>
                                                    <% } %>
                                                    <% if (orderInfodata.status === "Return order processing") { %>
                                                        <button style="background-color: rgb(0, 0, 0); width: 50%; color: #ffffff; border-radius: 50px; height: 35px;" onclick="cancelreturnorder('<%= orderInfodata._id %>')">Cancel return order</button>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div>
                                        <% if (orderInfodata.status === "Delivered") { %>
                                            <hr>
                                            <button style="width: 100%; background-color: #e8e8e8; padding-top: 15px; padding-bottom: 12px; padding-left: 20px;" onclick="questionopen()" id="returnbtn">
                                                <h6><b>⦿ Do you want to return this order </b> ( click here )</h6>
                                            </button>
                                            <button style="width: 100%; background-color: #e8e8e8; padding-top: 15px; padding-bottom: 12px; padding-left: 20px; display: none;"  id="returnbtncopy">
                                                <h6><b>⦿ Do you want to return this order </b> ( click here )</h6>
                                            </button>
                                            <div id="questions" style="color: black; margin: 50px; display: none;">
                                                    <p class="text-center">⦿&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ○&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;○</p>
                                                    <label>
                                                        <input type="radio" name="reason" value="damaged">
                                                        Product is damaged
                                                    </label><br>
                                                    <label>
                                                        <input type="radio" name="reason" value="different">
                                                        Product is different from what was ordered
                                                    </label><br>
                                                    <label>
                                                        <input type="radio" name="reason" value="missing">
                                                        Product is missing parts or accessories
                                                    </label><br>
                                                    <label>
                                                        <input type="radio" name="reason" value="not_functioning">
                                                        Product is not functioning properly
                                                    </label><br>
                                                    <label>
                                                        <input type="radio" name="reason" value="other">
                                                        Other problem
                                                    </label><br>
                                                    
                                                    <div style="margin-top: 25px; display: block;" >
                                                        <p class="text-danger" id="errormessage"></p>
                                                        <button class="bttn"  onclick="qscheck()">
                                                            Continue
                                                        </button>
                                                    </div>
                                            </div>
                                            <div>
                                                <div class="shop-cart" id="productview" style="display: none; margin-top: 50px;">
                                                    <p class="text-center text-dark">○&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>⦿</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ○</p>
                                                    <h6><b>⦿ Your products</b></h6>
                                                    <div class="row justify-content-start" style="margin-top: 15px;">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                                            <div class="table-responsive">
                                                                <table class="cart-items table" cellspacing="0">
                                                                    <thead style="background-color: rgb(219, 219, 219);">
                                                                        <tr>
                                                                            <th class="product-thumbnail text-dark">
                                                                                Product</th>
                                                                            <th class="product-thumbnail text-dark text-center">
                                                                                Price</th>
                                                                            <th class="product-quantity text-dark text-center">
                                                                                Quantity</th>
                                                                            <th class="product-subtotal text-dark text-center">
                                                                                Subtotal</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <% for (let i=0; i < orderInfodata.product.length; i++) { %>
                                                                            <tr class="cart-item align-center">
                                                                                <td class="product-thumbnail text-center">
                                                                                    <a><img width="600" height="600"
                                                                                            src="/uploads/<%= orderInfodata.product[i].images[0] %>"
                                                                                            class="product-image"
                                                                                            alt="product image"></a>
                                                                                    <div class="product-name">
                                                                                        <a>
                                                                                            <%= orderInfodata.product[i].name %>
                                                                                        </a>
                                                                                    </div>
                                                                                </td>
                                                                                
                                                                                <td class="product-price text-center">
                                                                                    <div class="product-name">
                                                                                        <a>₹<%= orderInfodata.product[i].regularPrice %>
                                                                                                .00</a>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="product-price text-center">
                                                                                    <div class="product-name">
                                                                                        <a>
                                                                                            <%= orderInfodata.product[i].cartQty %>
                                                                                        </a>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="product-price text-center">
                                                                                    <div class="product-name">
                                                                                        <a>
                                                                                            <%= orderInfodata.product[i].regularPrice *
                                                                                                orderInfodata.product[i].cartQty %>.00
                                                                                        </a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <% } %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-50 col-12 text-center" style="margin-top: 30px;">
                                                        <button class="custom-button1" onclick="window.history.back()" >Cancel</button>
                                                        <button class="custom-button2" onclick="cntueRetuen('<%= orderInfodata._id %>')" >Continue</button>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div><!-- #content -->
                </div><!-- #primary -->
            </div><!-- #main-content -->
        </div>
        
        <div class="row" style="margin-top: 50px; display: none;" id="success">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <p class="text-center text-dark">○&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ○&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>⦿</b></p>
                <div
                    class="checkout-review-order-table justify-content-center align-items-center text-center">
                    <div class="review-order-title"
                        style="font-size: 25px; color: black; margin: 0 auto;">
                        <div style="width: 70px; height: 70px;">
                            <img src="/media/Screenshot (105).png" alt="Success">
                        </div>
                        <b>Order return accepted</b>
                        <p style="font-size: 15px; margin-top: 20px;">Apologies for the inconvenience <br> We're here to
                            The moves will start soon.
                        </p>
                        <div>
                            <a href="/orders"><button class="cancelbtn4">Okay</button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer id="site-footer" class="site-footer background">
            <div class="footer">
                <div class="section-padding">
                    <div class="section-container">
                        <div class="block-widget-wrap">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-menu m-b-20">
                                        <h2 class="block-title">Contact Us</h2>
                                        <div class="block-content">
                                            <ul>
                                                <li>
                                                    <a href="page-contact.html">616.774.0561</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact.html">866.453.4748</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact.html">HR Fax: 810.222.5439</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact.html">sales@ruperfurniture.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="block block-social">
                                        <ul class="social-link">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-menu">
                                        <h2 class="block-title">Showroom</h2>
                                        <div class="block-content">
                                            <p>1000 84th Street SW , Byron Center, MI 49315</p>
                                            <p>AmericasMart Bldg. #1</p>
                                            <p>Suite 5C-1, Atlanta, GA 30303</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-menu">
                                        <h2 class="block-title">Services</h2>
                                        <div class="block-content">
                                            <ul>
                                                <li>
                                                    <a href="page-about.html">Sale</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Quick Ship</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">New Designs</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Accidental Fabric Protection</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Furniture Care</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Gift Cards</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-newsletter">
                                        <h2 class="block-title">Newsletter</h2>
                                        <div class="block-content">
                                            <div class="newsletter-text">Enter your email below to be the first to know
                                                about new collections and product launches.</div>
                                            <form action="#" method="post" class="newsletter-form">
                                                <input type="email" class="bg-white" name="your-email" value=""
                                                    size="40" placeholder="Email address">
                                                <span class="btn-submit">
                                                    <input type="submit" value="Subscribe">
                                                </span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="block block-image">
                                        <img width="309" height="32" src="media/payments.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="section-padding">
                    <div class="section-container">
                        <div class="block-widget-wrap">
                            <p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Back Top button -->
    <div class="back-top button-show">
        <i class="arrow_carrot-up"></i>
    </div>

    <!-- Search -->
    <div class="search-overlay">
        <div class="close-search"></div>
        <div class="wrapper-search">
            <form role="search" method="get" class="search-from ajax-search">
                <div class="search-box">
                    <button id="searchsubmit" class="btn" type="submit">
                        <i class="icon-search"></i>
                    </button>
                    <input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
                        placeholder="Search...">
                    <div class="search-top">
                        <div class="close-search">Cancel</div>
                    </div>
                    <div class="content-menu_search">
                        <label>Suggested</label>
                        <ul id="menu_search" class="menu">
                            <li><a href="#">Furniture</a></li>
                            <li><a href="#">Home Décor</a></li>
                            <li><a href="#">Industrial</a></li>
                            <li><a href="#">Kitchen</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Page Loader 
	<div class="page-preloader">
		<div class="loader">
			<div></div>
			<div></div>
		</div>
	</div>   -->

    <!-- Dependency Scripts -->
    <script src="libs/popper/js/popper.min.js"></script>
    <script src="libs/jquery/js/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/slick/js/slick.min.js"></script>
    <script src="libs/countdown/js/jquery.countdown.min.js"></script>
    <script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
    <script src="libs/slider/js/tmpl.js"></script>
    <script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
    <script src="libs/slider/js/draggable-0.1.js"></script>
    <script src="libs/slider/js/jquery.slider.js"></script>
    <script src="libs/elevatezoom/js/jquery.elevatezoom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Site Scripts -->
    <script src="assets/js/app.js"></script>
</body>

<script>
    function cancelreturnorder(id) {
        Swal.fire({
            title: "Cancel your order?",
            text: "Are you sure? Do you want to cancel your order?",
            showCancelButton: true,
            confirmButtonColor: "#FF0000",
            cancelButtonColor: "#ffffff",
            confirmButtonText: "Cancel order",
            customClass: {
                popup: 'swal-custom',
                cancelButton: 'swal-custom-ok-btn'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/cancelreturnOrder",
                    method: "post",
                    data: {
                        id
                    },
                    success: (response) => {
                        if (response.status === "oops") {
                            Swal.fire({
                                icon: "error",
                                iconColor: "#ff0000",
                                title: "Some network issue please try again later",
                                showConfirmButton: false,
                                customClass: {
                                    popup: 'swal-custom',
                                },
                                timer: 1500
                            });
                            setTimeout(() => {
                                window.location.reload()
                            }, 1500);
                        } else if (response.status === "okay") {
                            Swal.fire({
                                icon: "success",
                                title: "Cancelled your order",
                                showConfirmButton: false,
                                customClass: {
                                    popup: 'swal-custom',
                                },
                                timer: 1500
                            });
                            setTimeout(() => {
                                window.location.reload()
                            }, 1500);
                        }
                    }
                })
            }
        });
    }
    function cancelorder(id) {
        Swal.fire({
            title: "Cancel your order?",
            text: "Are you sure? Do you want to cancel your order?",
            showCancelButton: true,
            confirmButtonColor: "#FF0000",
            cancelButtonColor: "#ffffff",
            confirmButtonText: "Cancel order",
            customClass: {
                popup: 'swal-custom',
                cancelButton: 'swal-custom-ok-btn'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/cancelOrder",
                    method: "post",
                    data: {
                        id
                    },
                    success: (response) => {
                        if (response.status === "oops") {
                            Swal.fire({
                                icon: "error",
                                iconColor: "#ff0000",
                                title: "Some network issue please try again later",
                                showConfirmButton: false,
                                customClass: {
                                    popup: 'swal-custom',
                                },
                                timer: 1500
                            });
                            setTimeout(() => {
                                window.location.reload()
                            }, 1500);
                        } else if (response.status === "okay") {
                            Swal.fire({
                                icon: "success",
                                title: "Cancelled your order",
                                showConfirmButton: false,
                                customClass: {
                                    popup: 'swal-custom',
                                },
                                timer: 1500
                            });
                            setTimeout(() => {
                                window.location.reload()
                            }, 1500);
                        }
                    }
                })
            }
        });
    }

    function questionopen(){
        document.getElementById("questions").style.display = "block"
    }
    function qscheck() {
        const reasons = document.getElementsByName("reason");
        let isChecked = false;
        for (let i = 0; i < reasons.length; i++) {
            if (reasons[i].checked) {
                isChecked = true;
                document.getElementById("productview").style.display = "block"
                document.getElementById("questions").style.display = "none"
                document.getElementById("returnbtn").style.display = "none"
                document.getElementById("returnbtncopy").style.display = "block"
                break;
            }
        }
        if (!isChecked) {
            document.getElementById("errormessage").textContent = "Please give youe feedback"
        }
    }
    function cntueRetuen(id){
        $.ajax({
            url: "/returnorder",
            method: "post",
            data: {
                id
            },
            success: (response) => {
                if (response.status === "oops") {
                    Swal.fire({
                        icon: "error",
                        iconColor: "#ff0000",
                        title: "Some network issue please try again later",
                        showConfirmButton: false,
                        customClass: {
                            popup: 'swal-custom',
                        },
                        timer: 1500
                    });
                    setTimeout(() => {
                        window.location.reload()
                    }, 1500);
                } else if (response.status === "okay") {
                    document.getElementById("productview").style.display = "none"
                    document.getElementById("success").style.display = "block"
                }
            }
        })
    }

</script>

</html>