<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from caketheme.com/html/ruper/page-my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:33 GMT -->

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">

    <!-- Dependency Styles -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
    <link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
    <link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
    <link rel="stylesheet" href="libs/slider/css/jslider.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

    <!-- Google Web Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
        rel="stylesheet">
</head>
<style>
   .firstbook{
        width: 280px;
        height: 280px;
        border-radius: 40px;
        margin-bottom: 20px;
        background: linear-gradient(315deg, rgba(9,6,6,1) 0%, rgb(94, 82, 79) 100%);
        position: relative;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .swal2-container {
        background-color: transparent !important;
    }
    .swal2-popup {
        background-color: rgb(0, 0, 0);
        color: white !important;
    }
   .admincpn{
        width: 280px;
        height: 280px;
        border-radius: 40px;
        margin-bottom: 20px;
        background: linear-gradient(315deg, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 48%, rgba(48,48,48,1) 71%, rgba(0,0,0,1) 100%);
        position: relative;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .event-info {
        text-align: left !important;
    }
    .event-info p {
        text-align: center; /* Center the columns */
    }
   
   .copybtn{
		background-color: #CCBEA5;
		height: 100%;
		width: 40px;
		color: rgb(0, 0, 0);
	}
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        width: calc(33.33% - 20px);
        margin: 10px; 
    }

    @media (max-width: 768px) {
        .container {
            width: calc(50% - 20px);
        }
    }

    @media (max-width: 576px) {
        .container {
            width: calc(100% - 20px);
        }
    }

    .outofstock {
		position: absolute;
		top: 40%;
		left: 0;
		width: 100%;
		height: 50px;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.824) 18%, rgb(0, 0, 0) 53%, rgba(0, 0, 0, 0.877) 82%, rgba(255, 255, 255, 0) 100%);
		z-index: 9998;
	}

	.outofstockbackground {
		position: absolute;
		width: 100%;
		height: 107%;
		background-color: rgba(255, 255, 255, 0.533);
		z-index: 1;
	}
    .swal-custom {
        z-index: 99999;
        background: linear-gradient(94deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8240546218487395) 26%, rgba(0, 0, 0, 1) 53%, rgba(0, 0, 0, 0.8492647058823529) 79%, rgba(227, 227, 227, 0) 100%);
        color: #ffffff;
        width: 100%;
    }

    .swal-custom-ok-btn {
        color: black !important;
    }

</style>

<body class="blog">
    <div id="page" class="hfeed page-wrapper">
        <header id="site-header" class="site-header header-v2">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container large">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="index2.html">
										<img width="400" height="79" src="media/logo.png"
											alt="Ruper – Furniture HTML Theme" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="shop-grid-left.html"><i class="wpb-icon-shop"></i></a>
					</div>

					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="page-my-account.html"><i class="wpb-icon-user"></i></a>
						</div>
					</div>

					<!-- Search -->
					<div class="search-box">
						<div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
					</div>

					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="/wishlist"><i class="wpb-icon-heart"></i></a>
					</div>
				</div>
			</div>

			<div class="header-desktop" style="background: linear-gradient(94deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 53%, rgba(227,227,227,1) 100%);">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container large p-l-r">
							<div class="row">
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span class="menu-item-text">about us
														</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span
															class="menu-item-text">Contact</span></a>
												</li>

											</ul>
										</nav>
									</div>
								</div>

								<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>

								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">

										<!-- Search -->
										<div class="search-box">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>

										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
										</div>

										<!-- Cart -->
										<div class="mini-cart top-cart wishlist-box">
											<a class="cart-icon" href="/cart">
												<div class="icons-cart"><i class="icon-large-paper-bag"></i>
											</a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

        <div id="site-main" class="site-main">
            <div id="main-content" class="main-content">
                <div id="primary" class="content-area">
                    <div id="content" class="site-content" role="main">
                        <div class="section-padding">
                            <div class="section-container p-l-r">
                                <div class="page-my-account">
                                    <div class="my-account-wrap clearfix" style="margin-top: 100px;">
                                        <nav class="my-account-navigation" style="padding: 0px;">
                                            <ul class="text-center">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/userprofilepage">Dashboard</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/orders">Orders</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/address">Addresses</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/accountDetails">Account details</a>
                                                </li>
                                                <li class="nav-item" style="background-color: rgb(0, 0, 0);">
													<a class="nav-link text-light">Coupons</a>
												</li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/changepassword">Change password</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" onclick="logout()">Logout</a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <div class="my-account-content tab-content">
                                            <% if (userCoupons) { %>
                                                <% if (userCoupons.length === 0) { %>
                                                    no coupons founded
                                                <% } else { %>
                                                    <div class="wrapper d-flex">
                                                        <% for( let i = 0; i < userCoupons.length; i++ ) { %>
                                                        <% if (userCoupons[i].isBlocked === false && (userCoupons[i].couponStatus === "Expired" || userCoupons[i].couponStatus === "Active")) { %>
                                                            <div class="container d-flex">
                                                                <div class="admincpn d-flex align-items-center justify-content-center">
                                                                    <% if (userCoupons[i].couponStatus === "Expired") { %>
                                                                        <div class="outofstockbackground">
                                                                            <div
                                                                                class="outofstock text-light d-flex justify-content-center align-items-center">
                                                                                <b class="text-danger">Expired</b>
                                                                            </div>
                                                                        </div>
                                                                    <% } %>
                                                                    <div class="text-center">
                                                                        <h3 style="color: white"><b><%= userCoupons[i].name %></b></h3><br>
                                                                            <div class="table-responsive" style="margin-top: -10px;">
                                                                            <table class="table" cellspacing="0">
                                                                                <tbody>
                                                                                    <tr class=" align-right">
                                                                                        <td style="margin: auto;">
                                                                                            <div class="product-name">
                                                                                                <a style="font-size: 13px; color: white">Valid until </a><br>
                                                                                                <a style="font-size: 13px; color: white">Purchase amount </a>
                                                                                                <a style="font-size: 13px; color: white">Limited offer amount </a>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td style="margin: auto;">
                                                                                            <div class="product-name">
                                                                                                <a> <b><span style="color: white"><%= userCoupons[i].endDate %></span></b></a><br>
                                                                                                <a> <b><span style="color: white">₹<%= userCoupons[i].minBuyRate %>.00</span></b></a>
                                                                                                <a> <b><span style="color: white">₹<%= userCoupons[i].maxBuyRate %>.00</span></b></a>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <br>
                                                                        <div style="width: 100%; height: 35px; border: 1px solid white; margin-top: -30px;" class="d-flex justify-content-between align-items-center">
                                                                            <p id="myText<%= i %>" style="margin: 0 ; padding-left: 20px; color: white"><%= userCoupons[i].coupencode %></p>
                                                                            <button onclick="copyContent('<%= i %>')" style="background-color: white" class="copybtn">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" height="20px" width="20px" viewBox="0 0 448 512">
                                                                                    <path fill="#090606" d="M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z"/>
                                                                                </svg>
                                                                            </button>
                                                                        </div><br>
                                                                        <h1 style="font-weight: 800; color: white;"> <%= userCoupons[i].discountPercentage %>% &nbsp;<span style="color: rgb(94, 94, 94);">OFF</span> </h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <% } %>
                                                        <% } %>
                                                    </div>
                                                <% } %>
                                            <% } %>

                                            <!-- Redeemed coupons-->
                                            <% if (redeemedCoupons) { %>
                                                <button style="width: 100%; background-color: #eeeeee; border: 1px solid black; padding-top: 15px; padding-bottom: 12px; padding-left: 20px;">
                                                    <h6><b>Redeemed coupons</b></h6>
                                                </button>
                                                <div class="wrapper d-flex">
                                                    <% for( let i = 0; i < redeemedCoupons.length; i++ ) { %>
                                                        <div class="container d-flex">
                                                            <div class="admincpn d-flex align-items-center justify-content-center">
                                                                <div class="outofstockbackground">
                                                                    <div
                                                                        class="outofstock text-light d-flex justify-content-center align-items-center">
                                                                        <b class="text-success">Redeemed</b>
                                                                    </div>
                                                                </div>
                                                                <div class="text-center">
                                                                    <h3 style="color: white"><b><%= redeemedCoupons[i].name %></b></h3><br>
                                                                        <div class="table-responsive" style="margin-top: -10px;">
                                                                        <table class="table" cellspacing="0">
                                                                            <tbody>
                                                                                <tr class=" align-right">
                                                                                    <td style="margin: auto;">
                                                                                        <div class="product-name">
                                                                                            <a style="font-size: 13px; color: white">Valid until </a><br>
                                                                                            <a style="font-size: 13px; color: white">Purchase amount </a>
                                                                                            <a style="font-size: 13px; color: white">Limited offer amount </a>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td style="margin: auto;">
                                                                                        <div class="product-name">
                                                                                            <a> <b><span style="color: white"><%= redeemedCoupons[i].endDate %></span></b></a><br>
                                                                                            <a> <b><span style="color: white">₹<%= redeemedCoupons[i].minBuyRate %>.00</span></b></a>
                                                                                            <a> <b><span style="color: white">₹<%= redeemedCoupons[i].maxBuyRate %>.00</span></b></a>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <br>
                                                                    <div style="width: 100%; height: 35px; border: 1px solid white; margin-top: -30px;" class="d-flex justify-content-between align-items-center">
                                                                        <p id="myText<%= i %>" style="margin: 0 ; padding-left: 20px; color: white"><%= redeemedCoupons[i].coupencode %></p>
                                                                        <button style="background-color: white" class="copybtn">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" width="20px" viewBox="0 0 448 512">
                                                                                <path fill="#090606" d="M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z"/>
                                                                            </svg>
                                                                        </button>
                                                                    </div><br>
                                                                    <h1 style="font-weight: 800; color: white;"> <%= redeemedCoupons[i].discountPercentage %>% &nbsp;<span style="color: rgb(94, 94, 94);">OFF</span> </h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- #content -->
                </div><!-- #primary -->
            </div><!-- #main-content -->
        </div>

        <footer id="site-footer" class="site-footer background">
            <div class="footer">
                <div class="section-padding">
                    <div class="section-container">
                        <div class="block-widget-wrap">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-menu m-b-20">
                                        <h2 class="block-title">Contact Us</h2>
                                        <div class="block-content">
                                            <ul>
                                                <li>
                                                    <a href="page-contact.html">616.774.0561</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact.html">866.453.4748</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact.html">HR Fax: 810.222.5439</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact.html">sales@ruperfurniture.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="block block-social">
                                        <ul class="social-link">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-menu">
                                        <h2 class="block-title">Showroom</h2>
                                        <div class="block-content">
                                            <p>1000 84th Street SW , Byron Center, MI 49315</p>
                                            <p>AmericasMart Bldg. #1</p>
                                            <p>Suite 5C-1, Atlanta, GA 30303</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-menu">
                                        <h2 class="block-title">Services</h2>
                                        <div class="block-content">
                                            <ul>
                                                <li>
                                                    <a href="page-about.html">Sale</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Quick Ship</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">New Designs</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Accidental Fabric Protection</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Furniture Care</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Gift Cards</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-newsletter">
                                        <h2 class="block-title">Newsletter</h2>
                                        <div class="block-content">
                                            <div class="newsletter-text">Enter your email below to be the first to know
                                                about new collections and product launches.</div>
                                            <form action="#" method="post" class="newsletter-form">
                                                <input type="email" class="bg-white" name="your-email" value=""
                                                    size="40" placeholder="Email address">
                                                <span class="btn-submit">
                                                    <input type="submit" value="Subscribe">
                                                </span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="block block-image">
                                        <img width="309" height="32" src="media/payments.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="section-padding">
                    <div class="section-container">
                        <div class="block-widget-wrap">
                            <p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Back Top button -->
    <div class="back-top button-show">
        <i class="arrow_carrot-up"></i>
    </div>

    <!-- Search -->
    <div class="search-overlay">
        <div class="close-search"></div>
        <div class="wrapper-search">
            <form role="search" method="get" class="search-from ajax-search" action="#">
                <div class="search-box">
                    <button id="searchsubmit" class="btn" type="submit">
                        <i class="icon-search"></i>
                    </button>
                    <input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
                        placeholder="Search...">
                    <div class="search-top">
                        <div class="close-search">Cancel</div>
                    </div>
                    <div class="content-menu_search">
                        <label>Suggested</label>
                        <ul id="menu_search" class="menu">
                            <li><a href="#">Furniture</a></li>
                            <li><a href="#">Home Décor</a></li>
                            <li><a href="#">Industrial</a></li>
                            <li><a href="#">Kitchen</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <!-- Page Loader -->
    <!-- <div class="page-preloader">
	    	<div class="loader">
	    		<div></div>
	    		<div></div>
	    	</div>
	    </div> -->

    <!-- Dependency Scripts -->
    <script src="libs/popper/js/popper.min.js"></script>
    <script src="libs/jquery/js/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/slick/js/slick.min.js"></script>
    <script src="libs/countdown/js/jquery.countdown.min.js"></script>
    <script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
    <script src="libs/slider/js/tmpl.js"></script>
    <script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
    <script src="libs/slider/js/draggable-0.1.js"></script>
    <script src="libs/slider/js/jquery.slider.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
<script>
    const copyContent = async (id) => {
        let text = document.getElementById('myText' + id).innerHTML;
        try {
            await navigator.clipboard.writeText(text);
                Swal.fire({
                text: "Copied to your clipboard",
                showConfirmButton: false,
                position : "bottom",
                timer: 1000
            });
        } catch (err) {
            Swal.fire({
                text: "Something wrong",
                showConfirmButton: false,
                position : "bottom",
                timer: 1000
            });
        }
	}
    function logout() {
        Swal.fire({
            title: "Are you sure?",
            text: "You want to Logout from FURNIX?",
            showCancelButton: true,
            confirmButtonColor: "#FF0000",
            cancelButtonColor: "#ffffff",
            confirmButtonText: "Logout",
            customClass: {
                popup: 'swal-custom',
                cancelButton: 'swal-custom-ok-btn'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/userLogout"
            }
        });
    }
</script>
</html>