<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from caketheme.com/html/ruper/page-my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 08:52:33 GMT -->

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FURNIX</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="media/favicon-16x16.png">

    <!-- Dependency Styles -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="libs/feather-font/css/iconfont.css" type="text/css">
    <link rel="stylesheet" href="libs/icomoon-font/css/icomoon.css" type="text/css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="libs/wpbingofont/css/wpbingofont.css" type="text/css">
    <link rel="stylesheet" href="libs/elegant-icons/css/elegant.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick.css" type="text/css">
    <link rel="stylesheet" href="libs/slick/css/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="libs/mmenu/css/mmenu.min.css" type="text/css">
    <link rel="stylesheet" href="libs/slider/css/jslider.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <link rel="stylesheet" href="assets/css/responsive.css" type="text/css">

    <!-- Google Web Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=EB+Garamond:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;display=swap"
        rel="stylesheet">
</head>
<style>
     .swal-custom {
        background: linear-gradient(94deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8240546218487395) 26%, rgba(0, 0, 0, 1) 53%, rgba(0, 0, 0, 0.8492647058823529) 79%, rgba(227, 227, 227, 0) 100%);
        color: #ffffff;
        width: 100%;
    }

    .swal-custom-ok-btn {
        color: black !important;
    }
 /* Styles for the main container and inner divs */
.edit-account {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side, .right-side {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack inner divs vertically */
}

.left-side {
    width: 40%;
    background-color: rgb(244, 244, 244);
}

.right-side {
    width: 60%;
    border: 1px solid rgb(233, 233, 233);
    display: flex;
    flex-direction: column; /* Stack inner divs vertically */
    justify-content: flex-start; /* Align content to the top */
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.inner-div {
    width: 90%;
    height: 130px;
    background-color: rgb(233, 233, 233);
    margin-bottom: 10px; /* Add some bottom margin between inner divs */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paymentadd-div {
    width: 90%;
    height: 130px;
    margin-bottom: 10px; /* Add some bottom margin between inner divs */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles for the text elements */
.inner-div h2,
.paymentadd-div,
.inner-div h6 {
    margin: 0; /* Remove default margin */
}

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-top: 1px solid rgb(212, 212, 212); /* Only horizontal border */
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(0, 0, 0); /* Background color for table headers */
    color: white;
}

/* Additional styles for the input box, paragraph, and button */
.add-money-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.add-money-section input[type="number"] {
    width: 90%;
    margin-top: 10px;
    border: 1px solid #000000; /* Add border color */
}


.add-money-section button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 35px;
}

.add-money-section button:hover {
    background-color: #1b1b1b;
}
    .amount-div {
        background-color: rgb(220, 220, 220);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        height: 120px; /* Set height for vertical centering */
        width: 90%;
    }

</style>

<body class="blog">
    <div id="page" class="hfeed page-wrapper">
        <header id="site-header" class="site-header header-v2">
			<div class="header-mobile">
				<div class="section-padding">
					<div class="section-container large">
						<div class="row">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 header-left">
								<div class="navbar-header">
									<button type="button" id="show-megamenu" class="navbar-toggle"></button>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 header-center">
								<div class="site-logo">
									<a href="index2.html">
										<img width="400" height="79" src="media/logo.png"
											alt="Ruper – Furniture HTML Theme" />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="header-mobile-fixed">
					<!-- Shop -->
					<div class="shop-page">
						<a href="shop-grid-left.html"><i class="wpb-icon-shop"></i></a>
					</div>

					<!-- Login -->
					<div class="my-account">
						<div class="login-header">
							<a href="page-my-account.html"><i class="wpb-icon-user"></i></a>
						</div>
					</div>

					<!-- Search -->
					<div class="search-box">
						<div class="search-toggle"><i class="wpb-icon-magnifying-glass"></i></div>
					</div>

					<!-- Wishlist -->
					<div class="wishlist-box">
						<a href="/wishlist"><i class="wpb-icon-heart"></i></a>
					</div>
				</div>
			</div>

			<div class="header-desktop" style="background: linear-gradient(94deg, rgba(226,226,226,1) 0%, rgba(255,255,255,1) 53%, rgba(227,227,227,1) 100%);">
				<div class="header-wrapper">
					<div class="section-padding">
						<div class="section-container large p-l-r">
							<div class="row">
								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-left">
									<div class="site-navigation">
										<nav id="main-navigation">
											<ul id="menu-main-menu" class="menu">
												<li class="level-0 menu-item">
													<a href="/"><span class="menu-item-text">home</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="/allproduct"><span class="menu-item-text">All</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span class="menu-item-text">about us
														</span></a>
												</li>
												<li class="level-0 menu-item">
													<a href="page-contact.html"><span
															class="menu-item-text">Contact</span></a>
												</li>

											</ul>
										</nav>
									</div>
								</div>

								<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-center header-center">
									<div class="site-logo">
										<a href="index2.html">
											<img width="400" height="79" src="media/logo.png"
												alt="Ruper – Furniture HTML Theme" />
										</a>
									</div>
								</div>

								<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 header-right">
									<div class="header-page-link">

										<!-- Search -->
										<div class="search-box">
											<div class="search-toggle"><i class="icon-search"></i></div>
										</div>

										<!-- Wishlist -->
										<div class="wishlist-box">
											<a href="/wishlist"><i class="icon-heart"></i></a>
										</div>

										<!-- Cart -->
										<div class="mini-cart top-cart wishlist-box">
											<a class="cart-icon" href="/cart">
												<div class="icons-cart"><i class="icon-large-paper-bag"></i>
											</a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

        <div id="site-main" class="site-main">
            <div id="main-content" class="main-content">
                <div id="primary" class="content-area">
                    <div id="content" class="site-content" role="main">
                        <div class="section-padding">
                            <div class="section-container p-l-r">
                                <div class="page-my-account">
                                    <div class="my-account-wrap clearfix" style="margin-top: 100px;">
                                        <nav class="my-account-navigation" style="padding: 0px;">
                                            <ul class="text-center">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/userprofilepage">Dashboard</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/orders">Orders</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/address">Addresses</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/accountDetails">Account details</a>
                                                </li>
                                                <li class="nav-item" style="background-color: rgb(0, 0, 0); ">
                                                    <a class="nav-link  text-light" href="/wallet">Wallet</a>
                                                </li>
                                                <li class="nav-item">
													<a class="nav-link" href="/Coupons">Coupons</a>
												</li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/changepassword">Change password</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" onclick="logout()">Logout</a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <div class="my-account-account-details d-flex justify-content-center align-items-center col-lg-8 col-md-12 col-sm-12">
                                            <div class="edit-account col-lg-12 col-md-12 col-sm-12">
                                                <div class="left-side ">
                                                    <h3><b>Wallet</b></h3>
                                                    <div class="amount-div">
                                                        <p class="text-dark" style="margin-top: 5px;">Total amount in your wallet is</p>
                                                        <% if (userWallet) { %>
                                                            <h1 style="margin-top: -15px;"><b>₹<%= userWallet.walletAmount %></b></h1>
                                                        <% } else { %>
                                                            <h1 style="margin-top: -15px;"><b>₹0</b></h1>
                                                        <% } %>
                                                    </div>
                                                    <div style="margin-top: 15px; height: 1px; width: 100%; background-color: rgb(216, 216, 216);"></div>
                                                    <div class="paymentadd-div" style="margin-top: 20px;">
                                                        <div class="add-money-section">
                                                            <p style="color: rgb(0, 0, 0);">Add money to wallet</p>
                                                            <input  style="margin-top: -10px;" type="number" style="width: 90%;" id="moneyInput" placeholder="Enter amount" onclick="clearerror()">
                                                            <button  style="margin-top: 10px;" onclick="validateInput()">Pay</button>
                                                            <p class="text-danger" id="amountError"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-side">
                                                    <h3><b>Last transactions</b></h3>
                                                    <% if (userWallet) { %>
                                                        <table style="margin-top: 15px;">
                                                            <thead>
                                                                <tr>
                                                                    <th>TransactionID</th>
                                                                    <th>Date</th>
                                                                    <th>Status</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% for( let i = 0; i < sortedTransactions.length; i++ ) { %>
                                                                    <tr>
                                                                        <td><%= sortedTransactions[i].transactionID %></td>
                                                                        <td><%= sortedTransactions[i].date %></td>
                                                                        <td><%= sortedTransactions[i].status %></td>
                                                                        <td>₹<%= sortedTransactions[i].amount %></td>
                                                                    </tr>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    <% } else { %>
                                                        <p>No transactions found</p>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- #content -->
                </div><!-- #primary -->
            </div><!-- #main-content -->
        </div>

        <footer id="site-footer" class="site-footer background">
            <div class="footer">
                <div class="section-padding">
                    <div class="section-container">
                        <div class="block-widget-wrap">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-menu m-b-20">
                                        <h2 class="block-title">Contact Us</h2>
                                        <div class="block-content">
                                            <ul>
                                                <li>
                                                    <a href="page-contact.html">616.774.0561</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact.html">866.453.4748</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact.html">HR Fax: 810.222.5439</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact.html">sales@ruperfurniture.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="block block-social">
                                        <ul class="social-link">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-menu">
                                        <h2 class="block-title">Showroom</h2>
                                        <div class="block-content">
                                            <p>1000 84th Street SW , Byron Center, MI 49315</p>
                                            <p>AmericasMart Bldg. #1</p>
                                            <p>Suite 5C-1, Atlanta, GA 30303</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-menu">
                                        <h2 class="block-title">Services</h2>
                                        <div class="block-content">
                                            <ul>
                                                <li>
                                                    <a href="page-about.html">Sale</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Quick Ship</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">New Designs</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Accidental Fabric Protection</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Furniture Care</a>
                                                </li>
                                                <li>
                                                    <a href="page-about.html">Gift Cards</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="block block-newsletter">
                                        <h2 class="block-title">Newsletter</h2>
                                        <div class="block-content">
                                            <div class="newsletter-text">Enter your email below to be the first to know
                                                about new collections and product launches.</div>
                                            <form action="#" method="post" class="newsletter-form">
                                                <input type="email" class="bg-white" name="your-email" value=""
                                                    size="40" placeholder="Email address">
                                                <span class="btn-submit">
                                                    <input type="submit" value="Subscribe">
                                                </span>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="block block-image">
                                        <img width="309" height="32" src="media/payments.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="section-padding">
                    <div class="section-container">
                        <div class="block-widget-wrap">
                            <p class="copyright text-center">Copyright © 2022. All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Back Top button -->
    <div class="back-top button-show">
        <i class="arrow_carrot-up"></i>
    </div>

    <!-- Search -->
    <div class="search-overlay">
		<div class="wrapper-search">
            <div class="search-from">
				<div class="search-box">
                    <div class="d-flex">
                        <button id="searchsubmit" class="btn" onclick="search()">
                            <i class="icon-search"></i>
                        </button>
                        <input id="myInput" type="text" autocomplete="off" value="" name="s" class="input-search s"
                            placeholder="Search...">
                        <div class="close-search" onclick="cancelsearch()">Cancel</div>
                    </div>
                    <h4 id="noproduct" style="display: none;">No products founded</h4>
                    <div id="prodatas">
                        
                    </div>
				</div>
            </div>
		</div>
	</div>



    <!-- Page Loader -->
    <!-- <div class="page-preloader">
	    	<div class="loader">
	    		<div></div>
	    		<div></div>
	    	</div>
	    </div> -->

    <!-- Dependency Scripts -->
    <script src="libs/popper/js/popper.min.js"></script>
    <script src="libs/jquery/js/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/slick/js/slick.min.js"></script>
    <script src="libs/countdown/js/jquery.countdown.min.js"></script>
    <script src="libs/mmenu/js/jquery.mmenu.all.min.js"></script>
    <script src="libs/slider/js/tmpl.js"></script>
    <script src="libs/slider/js/jquery.dependClass-0.1.js"></script>
    <script src="libs/slider/js/draggable-0.1.js"></script>
    <script src="libs/slider/js/jquery.slider.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>

<script>
    const searchValue = document.getElementById("myInput")
    let clearTimer;
    searchValue.addEventListener("keyup", () => {
        document.getElementById("prodatas").innerHTML= "";
        document.getElementById("noproduct").style.display = "none"
        clearTimeout(clearTimer);
        clearTimer = setTimeout(() => {
            search();
        }, 1000)
    });
    function search(){
        const searchValue = document.getElementById("myInput").value
        $.ajax({
			url: "/search",
			method: "post",
			data: {
				searchValue
			},
			success: (response) => {
				if (response.status === "okay") {
					document.getElementById("prodatas").innerHTML= ""
                    displaySearch(response.products)
				} else {
					document.getElementById("noproduct").style.display = "block"
				}
			}
		})
    }

    function displaySearch(data) {
    const prodatasDiv = document.getElementById("prodatas");
    prodatasDiv.innerHTML = ""; // Clear previous search results
    
    data.forEach(product => {
        const productDiv = document.createElement("div");
        productDiv.classList.add("d-flex", "align-items-center");

        const imageDiv = document.createElement("div");
        imageDiv.style.width = "80px";
        imageDiv.style.height = "80px";
        imageDiv.style.backgroundColor = "rgb(255, 255, 255)";
        imageDiv.style.marginRight = "30px";
        imageDiv.innerHTML = `<img src="/uploads/${product.images[0]}" alt="product image">`;
        imageDiv.onclick = function() {
            window.location.href = `/productDetailspage?id=${product._id}`;
        };

        const infoDiv = document.createElement("div");
        infoDiv.style.display = "flex";
        infoDiv.style.flexDirection = "column";
        infoDiv.style.justifyContent = "center";
        infoDiv.innerHTML = `
            <h5 style="margin: 0;">${product.name}</h5>
            <p style="margin: 0;">₹${product.regularPrice}.00</p>
        `;

        productDiv.appendChild(imageDiv);
        productDiv.appendChild(infoDiv);
        prodatasDiv.appendChild(productDiv);

        const hr = document.createElement("hr");
        prodatasDiv.appendChild(hr);
    });
}


function cancelsearch(){
    document.getElementById("noproduct").style.display = "none"
    const prodatasDiv = document.getElementById("prodatas").innerHTML = "";
    const searchValue = document.getElementById("myInput").value =""
}
function logout() {
        Swal.fire({
            title: "Are you sure?",
            text: "You want to Logout from FURNIX?",
            showCancelButton: true,
            confirmButtonColor: "#FF0000",
            cancelButtonColor: "#ffffff",
            confirmButtonText: "Logout",
            customClass: {
                popup: 'swal-custom',
                cancelButton: 'swal-custom-ok-btn'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/userLogout"
            }
        });
    }

    function validateInput() {
        var amount = document.getElementById("moneyInput").value;
        var errorElement = document.getElementById("amountError");
        errorElement.textContent = "";
        if (amount.trim() === "") {
            errorElement.textContent = "Amount is required.";
        } else if (!/^\d+$/.test(amount)) {
            errorElement.textContent = "Amount must contain only digits.";
        } else if (amount <= 0) {
            errorElement.textContent = "Amount must be only more than zero.";
        } else if (amount > 25000) {
            errorElement.textContent = "Amount cannot exceed 25000.";
        } else {
            $.ajax({
                url: "/wallet",
                method: "post",
                data: {
                    amount
                },
                success: (response) => {
                    if (response.status === "razorpayfailed") {
                        Swal.fire({
                            icon: "error",
                            title: "Oops!.. Network is busy please try again later ! . . .",
                            showConfirmButton: false,
                            customClass: {
                                popup: 'swal-custom',
                            },
                            timer: 1500
                        });
                    } else if (response.status === "razorpaytrue") {
                        const userData = response.userData;
                        const amount = response.amount;
                        const razorpayOrder = response.razorpayOrder;
                        var options = {
                            "key": "rzp_test_iqxC6hlqYjWODY",
                            "amount": amount,
                            "currency": "INR",
                            "name": "Furnix",
                            "description": "Test Transaction",
                            "image": "images\logo\furnix f figma.png",
                            "order_id": razorpayOrder.id,
                            "handler": function (response) {
                                successgreen(response , amount)
                            },
                            "prefill": { 
                                "name": userData.name, //your customer's name
                                "email": userData.email, //your customer's name
                                "contact": userData.phone  //Provide the customer's phone number for better conversion rates 
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#000000"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.on('payment.failed', function (response) {
                            Swal.fire({
                                title: "Payment failed",
                                html: response.error.reason,
                                icon: "error",
                                timer: 2000
                            });
                        });
                        rzp1.open();
                    }
                }
            })
        }
    }

    function successgreen(response , amount){
		$.ajax({
			url: "/successwallet",
			method: "post",
			data: {
				response,
                amount
			},
			success: (response) => {
				if(response.status === "true"){
					window.location.reload()
				} else if (response.status === "network") {
					Swal.fire({
						icon: "error",
						title: "Oops!.. Network is busy please refresh",
						showConfirmButton: false,
						customClass: {
							popup: 'swal-custom',
						},
						timer: 1500
					});
				} else if (response.status === "somthingwrong") {
					Swal.fire({
						icon: "error",
						title: "Oops!.. Somthing worng please try again",
						showConfirmButton: false,
						customClass: {
							popup: 'swal-custom',
						},
						timer: 1500
					});
				}
			} 
		})
	}


    function clearerror(){
        document.getElementById("amountError").textContent = ""
    }
</script>

</html>